# Data wrangling WeRateDogs

## Table of Content
- [Introduction](#intro)
- [Gathering Data](#gather)
- [Accessing Data](#access)
    - [Quality](#qual)
    - [Tidiness](#tid)
- [Cleaning data](#clean)
- [Storing, Analyzing and Visualizing](#store)

<a id='intro'></a>
## Introduction
The WeRateDogs Twitter archive contains basic tweet data for all 5000+ of their tweets, but not everything. One column the archive does contain though: each tweet's text, which Udacity used to extract rating, dog name, and dog "stage" (i.e. doggo, floofer, pupper, and puppo) to make this Twitter archive "enhanced." Of the 5000+ tweets, Udacity have filtered for tweets with ratings only (there are 2356).

Udacity extracted this data programmatically, but We didn't do a very good job. The ratings probably aren't all correct. Same goes for the dog names and probably dog stages (see below for more information on these) too. You'll need to assess and clean these columns if you want to use them for analysis and visualization.

Our goal: wrangle WeRateDogs Twitter data to create interesting and trustworthy analyses and visualizations. The Twitter archive is great, but it only contains very basic tweet information. Additional gathering, then assessing and cleaning is required for "Wow!"-worthy analyses and visualizations.

<a id='gather'></a>
## Gathering Data
**1 .** <br>
The WeRateDogs Twitter archive. I am giving this file to you, so imagine it as a file on hand. Download this file manually by clicking the following link: twitter_archive_enhanced.csv

**2 .** <br> 
The tweet image predictions, i.e., what breed of dog (or other object, animal, etc.) is present in each tweet according to a neural network. This file (image_predictions.tsv) is hosted on Udacity's servers and should be downloaded programmatically using the Requests library and the following URL: https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv

**3 .** <br>
Each tweet's retweet count and favorite ("like") count at minimum, and any additional data you find interesting. Using the tweet IDs in the WeRateDogs Twitter archive, query the Twitter API for each tweet's JSON data using Python's Tweepy library and store each tweet's entire set of JSON data in a file called tweet_json.txt file. Each tweet's JSON data should be written to its own line. Then read this .txt file line by line into a pandas DataFrame with (at minimum) tweet ID, retweet count, and favorite count.

**1. Reading Twitter archive file(twitter-archive-enhanced.csv)**

In [1]:
#importing necessary library's 
import pandas as pd
import numpy as np
import requests
import tweepy
from tweepy import OAuthHandler
import os
import time
import json
import re
%matplotlib inline

from datetime import datetime

In [2]:
#reading twitter-archive-enhanced.csv to a df
twitter_archive = pd.read_csv("twitter-archive-enhanced.csv")
twitter_archive.head(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

**This File include 2356 rows, 17 columns**
- tweet_id :- its unquiely identifies each tweets
- in_reply_to_status_id :- all the reply tweets with its status and orignal tweet ID's
- in_reply_to_user_id :- all the reply tweets with its integer representation of the original Tweet’s author ID and User_id might not always be mentioned.
- time_stamp :- Date & time when the tweet was sent
- source :- where tweet was posted
- text :- posted text in the tweet
- retweeted_status_id/retweeted_status_user_id/retweeted_status_timestamp :- all the status with tweet ID's or Tweet’s author ID or data & time of retweet.
- expanded_urls :- URL where the tweet is found
- rating_numerator :- The top number of a fraction
- ating_denominator :- The bottom number of a fraction
- name :- The name of the dog
- doggo / floofer / pupper / puppo :- Dog ages & stages

**2. Tweet image prediction (Request & Download)**

In [3]:
# Using the url given to access the site and request for download
url = "https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"
request = requests.get(url)

In [4]:
# opening url request
with open(url.split('/')[-1], mode = 'wb') as file:
    file.write(request.content)

In [5]:
# Reading new requested file
images_predictions = pd.read_csv('image-predictions.tsv', sep = '\t')
images_predictions.head(5)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

**The file has 2,075 rows and 12 columns :**
- tweet_id:  its unquiely identifies each tweets
- jpg_URL: Where image is hosted
- img_num: Image number that corresponded to the most confident prediction
- p1: Algorithm's #1 predict for i.e. → golden retriever
- p1_conf: How confident the algorithm #1 prediction 
- p1_dog: Whether or not the #1 prediction is a breed of dog
- p2: Algorithm's second most likely prediction.
- p2_conf: How confident the algorithm  #2 prediction 
- p2_dog: Whether or not the #2 prediction is a breed of dog

**3. Twitter API & JSON(not confirmation from twitter**

In [6]:
# load the data Tweeter API
# I did apply for Twitter developer account and it still in process

consumer_key = 'HIDDEN'
consumer_secret = 'HIDDEN'
access_token = 'HIDDEN'
access_secret = 'HIDDEN'

auth = OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

In [7]:
# Use Twitter API to collect status data on tweets present in twitter1 dataframe
# Query Twitter's API for JSON data for each tweet ID in the Twitter archive

tweet_ids = list(twitter_archive['tweet_id'])

tweet_data = []
tweet_id_success = []
tweet_id_missing = []
for tweet_id in tweet_ids:
    try:
        data = api.get_status(tweet_id, 
                              tweet_mode='extended',
                              wait_on_rate_limit = True,
                              wait_on_rate_limit_notify = True)
        tweet_data.append(data)
        tweet_id_success.append(tweet_id)
    except:
        tweet_id_missing.append(tweet_id)
        print(tweet_id)

892420643555336193
892177421306343426
891815181378084864
891689557279858688
891327558926688256
891087950875897856
890971913173991426
890729181411237888
890609185150312448
890240255349198849
890006608113172480
889880896479866881
889665388333682689
889638837579907072
889531135344209921
889278841981685760
888917238123831296
888804989199671297
888554962724278272
888202515573088257
888078434458587136
887705289381826560
887517139158093824
887473957103951883
887343217045368832
887101392804085760
886983233522544640
886736880519319552
886680336477933568
886366144734445568
886267009285017600
886258384151887873
886054160059072513
885984800019947520
885528943205470208
885518971528720385
885311592912609280
885167619883638784
884925521741709313
884876753390489601
884562892145688576
884441805382717440
884247878851493888
884162670584377345
883838122936631299
883482846933004288
883360690899218434
883117836046086144
882992080364220416
882762694511734784
882627270321602560
882268110199369728
882045870035918850
881906580714921986
881666595344535552
881633300179243008
881536004380872706
881268444196462592
880935762899988482
880872448815771648
880465832366813184
880221127280381952
880095782870896641
879862464715927552
879674319642796034
879492040517615616
879415818425184262
879376492567855104
879130579576475649
879050749262655488
879008229531029506
878776093423087618
878604707211726852
878404777348136964
878316110768087041
878281511006478336
878057613040115712
877736472329191424
877611172832227328
877556246731214848
877316821321428993
877201837425926144
876838120628539392
876537666061221889
876484053909872640
876120275196170240
875747767867523072
875144289856114688
875097192612077568
875021211251597312
874680097055178752
874434818259525634
874296783580663808
874057562936811520
874012996292530176
873697596434513921
873580283840344065
873337748698140672
873213775632977920
872967104147763200
872820683541237760
872668790621863937
872620804844003328
872486979161796608
872261713294495745
872122724285648897
871879754684805121
871762521631449091
871515927908634625
871166179821445120
871102520638267392
871032628920680449
870804317367881728
870726314365509632
870656317836468226
870374049280663552
870308999962521604
870063196459192321
869988702071779329
869772420881756160
869702957897576449
869596645499047938
869227993411051520
868880397819494401
868639477480148993
868622495443632128
868552278524837888
867900495410671616
867774946302451713
867421006826221569
867072653475098625
867051520902168576
866816280283807744
866720684873056260
866686824827068416
866450705531457537
866334964761202691
866094527597207552
865718153858494464
865359393868664832
865006731092295680
864873206498414592
864279568663928832
864197398364647424
863907417377173506
863553081350529029
863471782782697472
863432100342583297
863427515083354112
863079547188785154
863062471531167744
862831371563274240
862722525377298433
862457590147678208
862096992088072192
861769973181624320
861383897657036800
861288531465048066
861005113778896900
860981674716409858
860924035999428608
860563773140209665
860524505164394496
860276583193509888
860184849394610176
860177593139703809
859924526012018688
859851578198683649
859607811541651456
859196978902773760
859074603037188101
858860390427611136
858843525470990336
858471635011153920
858107933456039936
857989990357356544
857746408056729600
857393404942143489
857263160327368704
857214891891077121
857062103051644929
857029823797047296
856602993587888130
856543823941562368
856526610513747968
856330835276025856
856288084350160898
856282028240666624
855862651834028034
855860136149123072
855857698524602368
855851453814013952
855818117272018944
855459453768019968
855245323840757760
855138241867124737
854732716440526848
854482394044301312
854365224396361728
854120357044912130
854010172552949760
853760880890318849
853639147608842240
853299958564483072
852936405516943360
852912242202992640
852672615818899456
852553447878664193
852311364735569921
852226086759018497
852189679701164033
851953902622658560
851861385021730816
851591660324737024
851464819735769094
851224888060895234
850753642995093505
850380195714523136
850333567704068097
850145622816686080
850019790995546112
849776966551130114
849668094696017920
849412302885593088
849336543269576704
849051919805034497
848690551926992896
848324959059550208
848213670039564288
848212111729840128
847978865427394560
847971574464610304
847962785489326080
847842811428974592
847617282490613760
847606175596138505
847251039262605312
847157206088847362
847116187444137987
846874817362120707
846514051647705089
846505985330044928
846153765933735936
846139713627017216
846042936437604353
845812042753855489
845677943972139009
845459076796616705
845397057150107648
845306882940190720
845098359547420673
844979544864018432
844973813909606400
844704788403113984
844580511645339650
844223788422217728
843981021012017153
843856843873095681
843604394117681152
843235543001513987
842892208864923648
842846295480000512
842765311967449089
842535590457499648
842163532590374912
842115215311396866
841833993020538882
841680585030541313
841439858740625411
841320156043304961
841314665196081154
841077006473256960
840761248237133825
840728873075638272
840698636975636481
840696689258311684
840632337062862849
840370681858686976
840268004936019968
839990271299457024
839549326359670784
839290600511926273
839239871831150596
838952994649550848
838921590096166913
838916489579200512
838831947270979586
838561493054533637
838476387338051585
838201503651401729
838150277551247360
838085839343206401
838083903487373313
837820167694528512
837482249356513284
837471256429613056
837366284874571778
837110210464448512
837012587749474308
836989968035819520
836753516572119041
836677758902222849
836648853927522308
836397794269200385
836380477523124226
836260088725786625
836001077879255040
835685285446955009
835574547218894849
835536468978302976
835309094223372289
835297930240217089
835264098648616962
835246439529840640
835172783151792128
835152434251116546
834931633769889797
834786237630337024
834574053763584002
834477809192075265
834458053273591808
834209720923721728
834167344700198914
834089966724603904
834086379323871233
833863086058651648
833826103416520705
833732339549220864
833722901757046785
833479644947025920
833124694597443584
832998151111966721
832769181346996225
832757312314028032
832682457690300417
832645525019123713
832636094638288896
832397543355072512
832369877331693569
832273440279240704
832215909146226688
832215726631055365
832088576586297345
832040443403784192
832032802820481025
831939777352105988
831926988323639298
831911600680497154
831670449226514432
831650051525054464
831552930092285952
831322785565769729
831315979191906304
831309418084069378
831262627380748289
830956169170665475
830583320585068544
830173239259324417
830097400375152640
829878982036299777
829861396166877184
829501995190984704
829449946868879360
829374341691346946
829141528400556032
829011960981237760
828801551087042563
828770345708580865
828708714936930305
828650029636317184
828409743546925057
828408677031882754
828381636999917570
828376505180889089
828372645993398273
828361771580813312
828046555563323392
828011680017821696
827933404142436356
827653905312006145
827600520311402496
827324948884643840
827228250799742977
827199976799354881
826958653328592898
826848821049180160
826615380357632002
826598799820865537
826598365270007810
826476773533745153
826240494070030336
826204788643753985
826115272272650244
825876512159186944
825829644528148480
825535076884762624
825147591692263424
825120256414846976
825026590719483904
824796380199809024
824775126675836928
824663926340194305
824325613288833024
824297048279236611
824025158776213504
823939628516474880
823719002937630720
823699002998870016
823581115634085888
823333489516937216
823322678127919110
823269594223824897
822975315408461824
822872901745569793
822859134160621569
822647212903690241
822610361945911296
822489057087389700
822462944365645825
822244816520155136
822163064745328640
821886076407029760
821813639212650496
821765923262631936
821522889702862852
821421320206483457
821407182352777218
821153421864615936
821149554670182400
821107785811234820
821044531881721856
820837357901512704
820749716845686786

820690176645140481
820494788566847489
820446719150292993
820314633777061888
820078625395449857
820013781606658049
819952236453363712
819924195358416896
819711362133872643
819588359383371776
819347104292290561
819238181065359361
819227688460238848
819015337530290176
819015331746349057
819006400881917954
819004803107983360
818646164899774465
818627210458333184
818614493328580609
818588835076603904
818536468981415936
818307523543449600
818259473185828864
818145370475810820
817908911860748288
817827839487737858
817777686764523521
817536400337801217
817502432452313088
817423860136083457
817415592588222464
817181837579653120
817171292965273600
817120970343411712
817056546584727552
816829038950027264
816816676327063552
816697700272001025
816450570814898180
816336735214911488
816091915477250048
816062466425819140
816014286006976512
815990720817401858
815966073409433600
815745968457060357
815736392542261248
815639385530101762
815390420867969024
814986499976527872
814638523311648768
814578408554463233
814530161257443328
814153002265309185
813944609378369540
813910438903693312
813812741911748608
813800681631023104
813217897535406080
813202720496779264
813187593374461952
813172488309972993
813157409116065792
813142292504645637
813130366689148928
813127251579564032
813112105746448384
813096984823349248
813081950185472002
813066809284972545
813051746834595840
812781120811126785
812747805718642688
812709060537683968
812503143955202048
812466873996607488
812372279581671427
811985624773361665
811744202451197953
811647686436880384
811627233043480576
811386762094317568
810984652412424192
810896069567610880
810657578271330305
810284430598270976
810254108431155201
809920764300447744
809808892968534016
809448704142938112
809220051211603969
809084759137812480
808838249661788160
808733504066486276
808501579447930884
808344865868283904
808134635716833280
808106460588765185
808001312164028416
807621403335917568
807106840509214720
807059379405148160
807010152071229440
806629075125202948
806620845233815552
806576416489959424
806542213899489280
806242860592926720
806219024703037440
805958939288408065
805932879469572096
805826884734976000
805823200554876929
805520635690676224
805487436403003392
805207613751304193
804738756058218496
804475857670639616
804413760345620481
804026241225523202
803773340896923648
803692223237865472
803638050916102144
803380650405482500
803321560782307329
803276597545603072
802952499103731712
802624713319034886
802600418706604034
802572683846291456
802323869084381190
802265048156610565
802247111496568832
802239329049477120
802185808107208704
801958328846974976
801854953262350336
801538201127157760
801285448605831168
801167903437357056
801127390143516673
801115127852503040
800859414831898624
800855607700029440
800751577355128832
800513324630806528
800459316964663297
800443802682937345
800388270626521089
800188575492947969
800141422401830912
800018252395122689
799774291445383169
799757965289017345
799422933579902976
799308762079035393
799297110730567681
799063482566066176
798933969379225600
798925684722855936
798705661114773508
798701998996647937
798697898615730177
798694562394996736
798686750113755136
798682547630837760
798673117451325440
798665375516884993
798644042770751489
798628517273620480
798585098161549313
798576900688019456
798340744599797760
798209839306514432
797971864723324932
797545162159308800
797236660651966464
797165961484890113
796904159865868288
796865951799083009
796759840936919040
796563435802726400
796484825502875648
796387464403357696
796177847564038144
796149749086875649
796125600683540480
796116448414461957
796080075804475393
796031486298386433
795464331001561088
795400264262053889
795076730285391872
794983741416415232
794926597468000259
794355576146903043
794332329137291264
794205286408003585
793962221541933056
793845145112371200
793614319594401792
793601777308463104
793500921481273345
793286476301799424
793271401113350145
793256262322548741
793241302385262592
793226087023144960
793210959003287553
793195938047070209
793180763617361921
793165685325201412
793150605191548928
793135492858580992
793120401413079041
792913359805018113
792883833364439040
792773781206999040
792394556390137856
792050063153438720
791821351946420224
791784077045166082
791780927877898241
791774931465953280
791672322847637504
791406955684368384
791312159183634433
791026214425268224
790987426131050500
790946055508652032
790723298204217344
790698755171364864
790581949425475584
790337589677002753
790277117346975746
790227638568808452
789986466051088384
789960241177853952
789903600034189313
789628658055020548
789599242079838210
789530877013393408
789314372632018944
789280767834746880
789268448748703744
789137962068021249
788908386943430656
788765914992902144
788552643979468800
788412144018661376
788178268662984705
788150585577050112
788070120937619456
788039637453406209
787810552592695296
787717603741622272
787397959788929025
787322443945877504
787111942498508800
786963064373534720
786729988674449408
786709082849828864
786664955043049472
786595970293370880
786363235746385920
786286427768250368
786233965241827333
786051337297522688
786036967502913536
785927819176054784
785872687017132033
785639753186217984
785533386513321988
785515384317313025
785264754247995392
785170936622350336
784826020293709826
784517518371221505
784431430411685888
784183165795655680
784057939640352768
783839966405230592
783821107061198850
783695101801398276
783466772167098368
783391753726550016
783347506784731136
783334639985389568
783085703974514689
782969140009107456
782747134529531904
782722598790725632
782598640137187329
782305867769217024
782021823840026624
781955203444699136
781661882474196992
781655249211752448
781524693396357120
781308096455073793
781251288990355457
781163403222056960
780931614150983680
780858289093574656
780800785462489090
780601303617732608
780543529827336192
780496263422808064
780476555013349377
780459368902959104
780192070812196864
780092040432480260
780074436359819264
779834332596887552
779377524342161408
779124354206535695
779123168116150273
779056095788752897
778990705243029504
778774459159379968
778764940568104960
778748913645780993
778650543019483137
778624900596654080
778408200802557953
778396591732486144
778383385161035776
778286810187399168
778039087836069888
778027034220126208
777953400541634568
777885040357281792
777684233540206592
777641927919427584
777621514455814149
777189768882946048
776819012571455488
776813020089548800
776477788987613185
776249906839351296
776218204058357768
776201521193218049
776113305656188928
776088319444877312
775898661951791106
775842724423557120
775733305207554048
775729183532220416
775364825476165632
775350846108426240
775096608509886464
775085132600442880
774757898236878852
774639387460112384
774314403806253056
773985732834758656
773922284943896577
773704687002451968
773670353721753600
773547596996571136
773336787167145985
773308824254029826
773247561583001600
773191612633579521
772877495989305348
772826264096874500
772615324260794368
772581559778025472
772193107915964416
772152991789019136
772117678702071809
772114945936949249
772102971039580160
771908950375665664
771770456517009408
771500966810099713
771380798096281600
771171053431250945
771136648247640064
771102124360998913
771014301343748096
771004394259247104
770787852854652928
770772759874076672
770743923962707968
770655142660169732
770414278348247044
770293558247038976
770093767776997377
770069151037685760
769940425801170949
769695466921623552
769335591808995329
769212283578875904
768970937022709760
768909767477751808
768855141948723200
768609597686943744
768596291618299904
768554158521745409
768473857036525572
768193404517830656
767884188863397888
767754930266464257
767500508068192258
767191397493538821
767122157629476866
766864461642756096
766793450729734144
766714921925144576
766693177336135680
766423258543644672
766313316352462849
766078092750233600
766069199026450432
766008592277377025
765719909049503744
765669560888528897
765395769549590528
765371061932261376
765222098633691136
764857477905154048
764259802650378240
763956972077010945
763837565564780549
763183847194451968
763167063695355904
763103485927849985
762699858130116608
762471784394268675
762464539388485633
762316489655476224

762035686371364864
761976711479193600
761750502866649088
761745352076779520
761672994376806400
761599872357261312
761371037149827077
761334018830917632
761292947749015552
761227390836215808
761004547850530816
760893934457552897
760656994973933572
760641137271070720
760539183865880579
760521673607086080
760290219849637889
760252756032651264
760190180481531904
760153949710192640
759943073749200896
759923798737051648
759846353224826880
759793422261743616
759566828574212096
759557299618865152
759447681597108224
759446261539934208
759197388317847553
759159934323924993
759099523532779520
759047813560868866
758854675097526272
758828659922702336
758740312047005698
758474966123810816
758467244762497024
758405701903519748
758355060040593408
758099635764359168
758041019896193024
757741869644341248
757729163776290825
757725642876129280
757611664640446465
757597904299253760
757596066325864448
757400162377592832
757393109802180609
757354760399941633
756998049151549440
756939218950160384
756651752796094464
756526248105566208
756303284449767430
756288534030475264
756275833623502848
755955933503782912
755206590534418437
755110668769038337
754874841593970688
754856583969079297
754747087846248448
754482103782404096
754449512966619136
754120377874386944
754011816964026368
753655901052166144
753420520834629632
753398408988139520
753375668877008896
753298634498793472
753294487569522689
753039830821511168
753026973505581056
752932432744185856
752917284578922496
752701944171524096
752682090207055872
752660715232722944
752568224206688256
752519690950500352
752334515931054080
752309394570878976
752173152931807232
751950017322246144
751937170840121344
751830394383790080
751793661361422336
751598357617971201
751583847268179968
751538714308972544
751456908746354688
751251247299190784
751205363882532864
751132876104687617
750868782890057730
750719632563142656
750506206503038976
750429297815552001
750383411068534784
750381685133418496
750147208377409536
750132105863102464
750117059602808832
750101899009982464
750086836815486976
750071704093859840
750056684286914561
750041628174217216
750026558547456000
750011400160841729
749996283729883136
749981277374128128
749774190421639168
749417653287129088
749403093750648834
749395845976588288
749317047558017024
749075273010798592
749064354620928000
749036806121881602
748977405889503236
748932637671223296
748705597323898880
748699167502000129
748692773788876800
748575535303884801
748568946752774144
748346686624440324
748337862848962560
748324050481647620
748307329658011649
748220828303695873
747963614829678593
747933425676525569
747885874273214464
747844099428986880
747816857231626240
747651430853525504
747648653817413632
747600769478692864
747594051852075008
747512671126323200
747461612269887489
747439450712596480
747242308580548608
747219827526344708
747204161125646336
747103485104099331
746906459439529985
746872823977771008
746818907684614144
746790600704425984
746757706116112384
746726898085036033
746542875601690625
746521445350707200
746507379341139972
746369468511756288
746131877086527488
746056683365994496
745789745784041472
745712589599014916
745433870967832576
745422732645535745
745314880350101504
745074613265149952
745057283344719872
744995568523612160
744971049620602880
744709971296780288
744334592493166593
744234799360020481
744223424764059648
743980027717509120
743895849529389061
743835915802583040
743609206067040256
743595368194129920
743545585370791937
743510151680958465
743253157753532416
743222593470234624
743210557239623680
742534281772302336
742528092657332225
742465774154047488
742423170473463808
742385895052087300
742161199639494656
742150209887731712
741793263812808706
741743634094141440
741438259667034112
741303864243200000
741099773336379392
741067306818797568
740995100998766593
740711788199743490
740699697422163968
740676976021798912
740373189193256964
740365076218183684
740359016048689152
740214038584557568
739979191639244800
739932936087216128
739844404073074688
739623569819336705
739606147276148736
739544079319588864
739485634323156992
739238157791694849
738891149612572673
738885046782832640
738883359779196928
738537504001953792
738402415918125056
738184450748633089
738166403467907072
738156290900254721
737826014890496000
737800304142471168
737678689543020544
737445876994609152
737322739594330112
737310737551491075
736736130620620800
736392552031657984
736365877722001409
736225175608430592
736010884653420544
735991953473572864
735648611367784448
735635087207878657
735274964362878976
735256018284875776
735137028879360001
734912297295085568
734787690684657664
734776360183431168
734559631394082816
733828123016450049
733822306246479872
733482008106668032
733460102733135873
733109485275860992
732732193018155009
732726085725589504
732585889486888962
732375214819057664
732005617171337216
731285275100512256
731156023742988288
730924654643314689
730573383004487680
730427201120833536
730211855403241472
730196704625098752
729854734790754305
729838605770891264
729823566028484608
729463711119904772
729113531270991872
728986383096946689
728760639972315136
728751179681943552
728653952833728512
728409960103686147
728387165835677696
728046963732717569
728035342121635841
728015554473250816
727685679342333952
727644517743104000
727524757080539137
727314416056803329
727286334147182592
727175381690781696
727155742655025152
726935089318363137
726887082820554753
726828223124897792
726224900189511680
725842289046749185
725786712245440512
725729321944506368
725458796924002305
724983749226668032
724771698126512129
724405726123311104
724049859469295616
724046343203856385
724004602748780546
723912936180330496
723688335806480385
723673163800948736
723179728551723008
722974582966214656
722613351520608256
721503162398597120
721001180231503872
720785406564900865
720775346191278080
720415127506415616
720389942216527872
720340705894408192
720059472081784833
720043174954147842
719991154352222208
719704490224398336
719551379208073216
719367763014393856
719339463458033665
719332531645071360
718971898235854848
718939241951195136
718631497683582976
718613305783398402
718540630683709445
718460005985447936
718454725339934721
718246886998687744
718234618122661888
717841801130979328
717790033953034240
717537687239008257
717428917016076293
717421804990701568
717047459982213120
717009362452090881
716802964044845056
716791146589110272
716730379797970944
716447146686459905
716439118184652801
716285507865542656
716080869887381504
715928423106027520
715758151270801409
715733265223708672
715704790270025728
715696743237730304
715680795826982913
715360349751484417
715342466308784130
715220193576927233
715200624753819648
715009755312439296
714982300363173890
714962719905021952
714957620017307648
714631576617938945
714606013974974464
714485234495041536
714258258790387713
714251586676113411
714214115368108032
714141408463036416
713919462244790272
713909862279876608
713900603437621249
713761197720473600
713411074226274305
713177543487135744
713175907180089344
712809025985978368
712717840512598017
712668654853337088
712438159032893441
712309440758808576
712097430750289920
712092745624633345
712085617388212225
712065007010385924
711998809858043904
711968124745228288
711743778164514816
711732680602345472
711694788429553666
711652651650457602
711363825979756544
711306686208872448
711008018775851008
710997087345876993
710844581445812225
710833117892898816
710658690886586372
710609963652087808
710588934686908417
710296729921429505
710283270106132480
710272297844797440
710269109699739648
710153181850935296
710140971284037632
710117014656950272
709918798883774466
709901256215666688
709852847387627521
709566166965075968
709556954897764353
709519240576036864
709449600415961088
709409458133323776
709225125749587968
709207347839836162
709198395643068416
709179584944730112
709158332880297985
709042156699303936
708853462201716736
708845821941387268
708834316713893888
708810915978854401
708738143638450176
708711088997666817
708479650088034305
708469915515297792
708400866336894977
708356463048204288
708349470027751425
708149363256774660
708130923141795840
708119489313951744
708109389455101952
708026248782585858
707995814724026368
707983188426153984
707969809498152960
707776935007539200

707741517457260545
707738799544082433
707693576495472641
707629649552134146
707610948723478529
707420581654872064
707411934438625280
707387676719185920
707377100785885184
707315916783140866
707297311098011648
707059547140169728
707038192327901184
707021089608753152
707014260413456384
706904523814649856
706901761596989440
706681918348251136
706644897839910912
706593038911545345
706538006853918722
706516534877929472
706346369204748288
706310011488698368
706291001778950144
706265994973601792
706169069255446529
706166467411222528
706153300320784384
705975130514706432
705970349788291072
705898680587526145
705786532653883392
705591895322394625
705475953783398401
705442520700944385
705428427625635840
705239209544720384
705223444686888960
705102439679201280
705066031337840642
704871453724954624
704859558691414016
704847917308362754
704819833553219584
704761120771465216
704499785726889984
704491224099647488
704480331685040129
704364645503647744
704347321748819968
704134088924532736
704113298707505153
704054845121142784
703774238772166656
703769065844768768
703631701117943808
703611486317502464
703425003149250560
703407252292673536
703382836347330562
703356393781329922
703268521220972544
703079050210877440
703041949650034688
702932127499816960
702899151802126337
702684942141153280
702671118226825216
702598099714314240
702539513671897089
702332542343577600
702321140488925184
702276748847800320
702217446468493312
701981390485725185
701952816642965504
701889187134500865
701805642395348998
701601587219795968
701570477911896070
701545186879471618
701214700881756160
700890391244103680
700864154249383937
700847567345688576
700796979434098688
700747788515020802
700518061187723268
700505138482569216
700462010979500032
700167517596164096
700151421916807169
700143752053182464
700062718104104960
700029284593901568
700002074055016451
699801817392291840
699788877217865730
699779630832685056
699775878809702401
699691744225525762
699446877801091073
699434518667751424
699423671849451520
699413908797464576
699370870310113280
699323444782047232
699088579889332224
699079609774645248
699072405256409088
699060279947165696
699036661657767936
698989035503689728
698953797952008193
698907974262222848
698710712454139905
698703483621523456
698635131305795584
698549713696649216
698355670425473025
698342080612007937
698262614669991936
698195409219559425
698178924120031232
697995514407682048
697990423684476929
697943111201378304
697881462549430272
697630435728322560
697616773278015490
697596423848730625
697575480820686848
697516214579523584
697482927769255936
697463031882764288
697270446429966336
697259378236399616
697255105972801536
697242256848379904
696900204696625153
696894894812565505
696886256886657024
696877980375769088
696754882863349760
696744641916489729
696713835009417216
696518437233913856
696490539101908992
696488710901260288
696405997980676096
696100768806522880
695816827381944320
695794761660297217
695767669421768709
695629776980148225
695446424020918272
695409464418041856
695314793360662529
695095422348574720
695074328191332352
695064344191721472
695051054296211456
694925794720792577
694905863685980160
694669722378485760
694356675654983680
694352839993344000
694342028726001664
694329668942569472
694206574471057408
694183373896572928
694001791655137281
693993230313091072
693942351086120961
693647888581312512
693644216740769793
693642232151285760
693629975228977152
693622659251335168
693590843962331137
693582294167244802
693486665285931008
693280720173801472
693267061318012928
693262851218264065
693231807727280129
693155686491000832
693109034023534592
693095443459342336
692919143163629568
692905862751522816
692901601640583168
692894228850999298
692828166163931137
692752401762250755
692568918515392513
692535307825213440
692530551048294401
692423280028966913
692417313023332352
692187005137076224
692158366030913536
692142790915014657
692041934689402880
692017291282812928
691820333922455552
691793053716221953
691756958957883396
691675652215414786
691483041324204033
691459709405118465
691444869282295808
691416866452082688
691321916024623104
691096613310316544
691090071332753408
690989312272396288
690959652130045952
690938899477221376
690932576555528194
690735892932222976
690728923253055490
690690673629138944
690649993829576704
690607260360429569
690597161306841088
690400367696297985
690374419777196032
690360449368465409
690348396616552449
690248561355657216
690021994562220032
690015576308211712
690005060500217858
689999384604450816
689993469801164801
689977555533848577
689905486972461056
689877686181715968
689835978131935233
689661964914655233
689659372465688576
689623661272240129
689599056876867584
689557536375177216
689517482558820352
689289219123089408
689283819090870273
689280876073582592
689275259254616065
689255633275777024
689154315265683456
689143371370250240
688916208532455424
688908934925697024
688898160958271489
688894073864884227
688828561667567616
688804835492233216
688789766343622656
688547210804498433
688519176466644993
688385280030670848
688211956440801280
688179443353796608
688116655151435777
688064179421470721
687841446767013888
687826841265172480
687818504314159109
687807801670897665
687732144991551489
687704180304273409
687664829264453632
687494652870668288
687480748861947905
687476254459715584
687460506001633280
687399393394311168
687317306314240000
687312378585812992
687127927494963200
687124485711986689
687109925361856513
687102708889812993
687096057537363968
686947101016735744
686760001961103360
686749460672679938
686730991906516992
686683045143953408
686618349602762752
686606069955735556
686394059078897668
686386521809772549
686377065986265092
686358356425093120
686286779679375361
686050296934563840
686035780142297088
686034024800862208
686007916130873345
686003207160610816
685973236358713344
685943807276412928
685906723014619143
685681090388975616
685667379192414208
685663452032069632
685641971164143616
685547936038666240
685532292383666176
685325112850124800
685321586178670592
685315239903100929
685307451701334016
685268753634967552
685198997565345792
685169283572338688
684969860808454144
684959798585110529
684940049151070208
684926975086034944
684914660081053696
684902183876321280
684880619965411328
684830982659280897
684800227459624960
684594889858887680
684588130326986752
684567543613382656
684538444857667585
684481074559381504
684460069371654144
684241637099323392
684225744407494656
684222868335505415
684200372118904832
684195085588783105
684188786104872960
684177701129875456
684147889187209216
684122891630342144
684097758874210310
683857920510050305
683852578183077888
683849932751646720
683834909291606017
683828599284170753
683773439333797890
683742671509258241
683515932363329536
683498322573824003
683481228088049664
683462770029932544
683449695444799489
683391852557561860
683357973142474752
683142553609318400
683111407806746624
683098815881154561
683078886620553216
683030066213818368
682962037429899265
682808988178739200
682788441537560576
682750546109968385
682697186228989953
682662431982772225
682638830361513985
682429480204398592
682406705142087680
682393905736888321
682389078323662849
682303737705140231
682259524040966145
682242692827447297
682088079302213632
682059653698686977
682047327939461121
682032003584274432
682003177596559360
681981167097122816
681891461017812993
681694085539872773
681679526984871937
681654059175129088
681610798867845120
681579835668455424
681523177663676416
681340665377193984
681339448655802368
681320187870711809
681302363064414209
681297372102656000
681281657291280384
681261549936340994
681242418453299201
681231109724700672
681193455364796417
680970795137544192
680959110691590145
680940246314430465
680934982542561280
680913438424612864
680889648562991104
680836378243002368
680805554198020098
680801747103793152
680798457301471234
680609293079592961
680583894916304897
680497766108381184
680494726643068929
680473011644985345
680440374763077632
680221482581123072
680206703334408192
680191257256136705
680176173301628928
680161097740095489
680145970311643136
680130881361686529
680115823365742593
680100725817409536
680085611152338944
680070545539371008
680055455951884288
679877062409191424
679872969355714560
679862121895714818
679854723806179328

679844490799091713
679828447187857408
679777920601223168
679736210798047232
679729593985699840
679722016581222400
679530280114372609
679527802031484928
679511351870550016
679503373272485890
679475951516934144
679462823135686656
679405845277462528
679158373988876288
679148763231985668
679132435750195208
679111216690831360
679062614270468097
679047485189439488
679001094530465792
678991772295516161
678969228704284672
678800283649069056
678798276842360832
678774928607469569
678767140346941444
678764513869611008
678755239630127104
678740035362037760
678708137298427904
678675843183484930
678643457146150913
678446151570427904
678424312106393600
678410210315247616
678399652199309312
678396796259975168
678389028614488064
678380236862578688
678341075375947776
678334497360859136
678278586130948096
678255464182861824
678023323247357953
678021115718029313
677961670166224897
677918531514703872
677895101218201600
677716515794329600
677700003327029250
677698403548192770
677687604918272002
677673981332312066
677662372920729601
677644091929329666
677573743309385728
677565715327688705
677557565589463040
677547928504967168
677530072887205888
677335745548390400
677334615166730240
677331501395156992
677328882937298944
677314812125323265
677301033169788928
677269281705472000
677228873407442944
677187300187611136
676975532580409345
676957860086095872
676949632774234114
676948236477857792
676946864479084545
676942428000112642
676936541936185344
676916996760600576
676897532954456065
676864501615042560
676821958043033607
676819651066732545
676811746707918848
676776431406465024
676617503762681856
676613908052996102
676606785097199616
676603393314578432
676593408224403456
676590572941893632
676588346097852417
676582956622721024
676575501977128964
676533798876651520
676496375194980353
676470639084101634
676440007570247681
676430933382295552
676263575653122048
676237365392908289
676219687039057920
676215927814406144
676191832485810177
676146341966438401
676121918416756736
676101918813499392
676098748976615425
676089483918516224
675898130735476737
675891555769696257
675888385639251968
675878199931371520
675870721063669760
675853064436391936
675849018447167488
675845657354215424
675822767435051008
675820929667219457
675798442703122432
675781562965868544
675740360753160193
675710890956750848
675707330206547968
675706639471788032
675534494439489536
675531475945709568
675522403582218240
675517828909424640
675501075957489664
675497103322386432
675489971617296384
675483430902214656
675432746517426176
675372240448454658
675362609739206656
675354435921575936
675349384339542016
675334060156301312
675166823650848770
675153376133427200
675149409102012420
675147105808306176
675146535592706048
675145476954566656
675135153782571009
675113801096802304
675111688094527488
675109292475830276
675047298674663426
675015141583413248
675006312288268288
675003128568291329
674999807681908736
674805413498527744
674800520222154752
674793399141146624
674790488185167872
674788554665512960
674781762103414784
674774481756377088
674767892831932416
674764817387900928
674754018082705410
674752233200820224
674743008475090944
674742531037511680
674739953134403584
674737130913071104
674690135443775488
674670581682434048
674664755118911488
674646392044941312
674644256330530816
674638615994089473
674632714662858753
674606911342424069
674468880899788800
674447403907457024
674436901579923456
674422304705744896
674416750885273600
674410619106390016
674394782723014656
674372068062928900
674330906434379776
674318007229923329
674307341513269249
674291837063053312
674271431610523648
674269164442398721
674265582246694913
674262580978937856
674255168825880576
674082852460433408
674075285688614912
674063288070742018
674053186244734976
674051556661161984
674045139690631169
674042553264685056
674038233588723717
674036086168010753
674024893172875264
674019345211760640
674014384960745472
674008982932058114
673956914389192708
673919437611909120
673906403526995968
673887867907739649
673716320723169284
673715861853720576
673711475735838725
673709992831262724
673708611235921920
673707060090052608
673705679337693185
673700254269775872
673697980713705472
673689733134946305
673688752737402881
673686845050527744
673680198160809984
673662677122719744
673656262056419329
673636718965334016
673612854080196609
673583129559498752
673580926094458881
673576835670777856
673363615379013632
673359818736984064
673355879178194945
673352124999274496
673350198937153538
673345638550134785
673343217010679808
673342308415348736
673320132811366400
673317986296586240
673295268553605120
673270968295534593
673240798075449344
673213039743795200
673148804208660480
672997845381865473
672995267319328768
672988786805112832
672984142909456390
672980819271634944
672975131468300288
672970152493887488
672968025906282496
672964561327235073
672902681409806336
672898206762672129
672884426393653248
672877615439593473
672834301050937345
672828477930868736
672640509974827008
672622327801233409
672614745925664768
672609152938721280
672604026190569472
672594978741354496
672591762242805761
672591271085670400
672538107540070400
672523490734551040
672488522314567680
672482722825261057
672481316919734272
672475084225949696
672466075045466113
672272411274932228
672267570918129665
672264251789176834
672256522047614977
672254177670729728
672248013293752320
672245253877968896
672239279297454080
672231046314901505
672222792075620352
672205392827572224
672169685991993344
672160042234327040
672139350159835138
672125275208069120
672095186491711488
672082170312290304
672068090318987265
671896809300709376
671891728106971137
671882082306625538
671879137494245376
671874878652489728
671866342182637568
671855973984772097
671789708968640512
671768281401958400
671763349865160704
671744970634719232
671743150407421952
671735591348891648
671729906628341761
671561002136281088
671550332464455680
671547767500775424
671544874165002241
671542985629241344
671538301157904385
671536543010570240
671533943490011136
671528761649688577
671520732782923777
671518598289059840
671511350426865664
671504605491109889
671497587707535361
671488513339211776
671486386088865792
671485057807351808
671390180817915904
671362598324076544
671357843010908160
671355857343524864
671347597085433856
671186162933985280
671182547775299584
671166507850801152
671163268581498880
671159727754231808
671154572044468225
671151324042559489
671147085991960577
671141549288370177
671138694582165504
671134062904504320
671122204919246848
671115716440031232
671109016219725825
670995969505435648
670842764863651840
670840546554966016
670838202509447168
670833812859932673
670832455012716544
670826280409919488
670823764196741120
670822709593571328
670815497391357952
670811965569282048
670807719151067136
670804601705242624
670803562457407488
670797304698376195
670792680469889025
670789397210615808
670786190031921152
670783437142401025
670782429121134593
670780561024270336
670778058496974848
670764103623966721
670755717859713024
670733412878163972
670727704916926465
670717338665226240
670704688707301377
670691627984359425
670679630144274432
670676092097810432
670668383499735048
670474236058800128
670468609693655041
670465786746662913
670452855871037440
670449342516494336
670444955656130560
670442337873600512
670435821946826752
670434127938719744
670433248821026816
670428280563085312
670427002554466305
670421925039075328
670420569653809152
670417414769758208
670411370698022913
670408998013820928
670403879788544000
670385711116361728
670374371102445568
670361874861563904
670338931251150849
670319130621435904
670303360680108032
670290420111441920
670093938074779648
670086499208155136
670079681849372674
670073503555706880
670069087419133954
670061506722140161
670055038660800512
670046952931721218
670040295598354432
670037189829525505
670003130994700288
669993076832759809
669972011175813120
669970042633789440
669942763794931712
669926384437997569
669923323644657664
669753178989142016
669749430875258880
669684865554620416
669683899023405056
669682095984410625
669680153564442624
669661792646373376
669625907762618368
669603084620980224
669597912108789760
669583744538451968
669573570759163904
669571471778410496
669567591774625800
669564461267722241
669393256313184256
669375718304980992

669371483794317312
669367896104181761
669363888236994561
669359674819481600
669354382627049472
669353438988365824
669351434509529089
669328503091937280
669327207240699904
669324657376567296
669216679721873412
669214165781868544
669203728096960512
669037058363662336
669015743032369152
669006782128353280
669000397445533696
668994913074286592
668992363537309700
668989615043424256
668988183816871936
668986018524233728
668981893510119424
668979806671884288
668975677807423489
668967877119254528
668960084974809088
668955713004314625
668932921458302977
668902994700836864
668892474547511297
668872652652679168
668852170888998912
668826086256599040
668815180734689280
668779399630725120
668655139528511488
668645506898350081
668643542311546881
668641109086707712
668636665813057536
668633411083464705
668631377374486528
668627278264475648
668625577880875008
668623201287675904
668620235289837568
668614819948453888
668587383441514497
668567822092664832
668544745690562560
668542336805281792
668537837512433665
668528771708952576
668507509523615744
668496999348633600
668484198282485761
668480044826800133
668466899341221888
668297328638447616
668291999406125056
668286279830867968
668274247790391296
668268907921326080
668256321989451776
668248472370458624
668237644992782336
668226093875376128
668221241640230912
668204964695683073
668190681446379520
668171859951755264
668154635664932864
668142349051129856
668113020489474048
667937095915278337
667924896115245057
667915453470232577
667911425562669056
667902449697558528
667886921285246976
667885044254572545
667878741721415682
667873844930215936
667866724293877760
667861340749471744
667832474953625600
667806454573760512
667801013445750784
667793409583771648
667782464991965184
667773195014021121
667766675769573376
667728196545200128
667724302356258817
667550904950915073
667550882905632768
667549055577362432
667546741521195010
667544320556335104
667538891197542400
667534815156183040
667530908589760512
667524857454854144
667517642048163840
667509364010450944
667502640335572993
667495797102141441
667491009379606528
667470559035432960
667455448082227200
667453023279554560
667443425659232256
667437278097252352
667435689202614272
667405339315146752
667393430834667520
667369227918143488
667211855547486208
667200525029539841
667192066997374976
667188689915760640
667182792070062081
667177989038297088
667176164155375616
667174963120574464
667171260800061440
667165590075940865
667160273090932737
667152164079423490
667138269671505920
667119796878725120
667090893657276420
667073648344346624
667070482143944705
667065535570550784
667062181243039745
667044094246576128
667012601033924608
666996132027977728
666983947667116034
666837028449972224
666835007768551424
666826780179869698
666817836334096384
666804364988780544
666786068205871104
666781792255496192
666776908487630848
666739327293083650
666701168228331520
666691418707132416
666649482315059201
666644823164719104
666454714377183233
666447344410484738
666437273139982337
666435652385423360
666430724426358785
666428276349472768
666421158376562688
666418789513326592
666411507551481857
666407126856765440
666396247373291520
666373753744588802
666362758909284353
666353288456101888
666345417576210432
666337882303524864
666293911632134144
666287406224695296
666273097616637952
666268910803644416
666104133288665088
666102155909144576
666099513787052032
666094000022159362
666082916733198337
666073100786774016
666071193221509120
666063827256086533
666058600524156928
666057090499244032
666055525042405380
666051853826850816
666050758794694657
666049248165822465
666044226329800704
666033412701032449
666029285002620928
666020888022790149

In [8]:
# Writing tweet data to json file
#with open('tweet_json.txt', mode = 'w') as file:
#    json.dump(tweet_data, file)

In [9]:
#Reading tweet_json.txt to df (twitter developer request is still pending)
tweet_json = pd.read_csv('tweet_json.txt', encoding = 'utf-8')
tweet_json.sample(5)

,tweet_id,favorites,retweets,user_followers,user_favourites,date_time
397,823719002937630720,0,12642,6629317,132918,2017-01-24 02:28:08
1490,692041934689402880,3651,1398,6629575,132918,2016-01-26 17:50:29
1948,673363615379013632,1064,332,6629688,132918,2015-12-06 04:49:31
1371,700847567345688576,2608,549,6629551,132918,2016-02-20 01:00:55
1575,686749460672679938,3745,1621,6629617,132918,2016-01-12 03:20:05

**The file has 2344 rows and 6 columns :**
- tweet_id:  its unquiely identifies each tweets
- favorites: Number of likes 
- retweets: Number of times this Tweet has been retweeted
- user_followers: Number of user followers
- user_favourites: Number of user likes
- date_time: Date & time when the tweet has been sent

In [10]:
# tweet_json df info()
tweet_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2344 entries, 0 to 2343
Data columns (total 6 columns):
tweet_id           2344 non-null int64
favorites          2344 non-null int64
retweets           2344 non-null int64
user_followers     2344 non-null int64
user_favourites    2344 non-null int64
date_time          2344 non-null object
dtypes: int64(5), object(1)
memory usage: 110.0+ KB

<a id='access'></a>
# Accessing Data

In [11]:
# twitter_archive df 5 random sample
twitter_archive.sample(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
634,793614319594401792,NaN,NaN,2016-11-02 00:42:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: When she says you're a good boy...,7.916723e+17,4.196984e+09,2016-10-27 16:06:04 +0000,https://twitter.com/dog_rates/status/791672322...,13,10,None,None,None,None,None
420,822163064745328640,NaN,NaN,2017-01-19 19:25:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Mattie. She's extremely...,7.862340e+17,4.196984e+09,2016-10-12 15:55:59 +0000,https://twitter.com/dog_rates/status/786233965...,11,10,Mattie,None,None,None,None
658,791672322847637504,NaN,NaN,2016-10-27 16:06:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When she says you're a good boy and you know y...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/791672322...,13,10,None,None,None,None,None
620,796125600683540480,NaN,NaN,2016-11-08 23:01:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",#ImWithThor 13/10\nhttps://t.co/a18mzkhTf6,NaN,NaN,NaN,https://twitter.com/king5seattle/status/796123...,13,10,None,None,None,None,None
953,751830394383790080,NaN,NaN,2016-07-09 17:28:29 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tucker. He's very camera shy. 12/10 wo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/751830394...,12,10,Tucker,None,None,None,None

In [12]:
# twitter_archive info
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [13]:
# twitter_archive description
twitter_archive.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [14]:
# twitter_archive all columns
twitter_archive.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo'],
      dtype='object')

In [15]:
# Column with missing value
twitter_archive.columns[twitter_archive.isnull().any()]

Index(['in_reply_to_status_id', 'in_reply_to_user_id', 'retweeted_status_id',
       'retweeted_status_user_id', 'retweeted_status_timestamp',
       'expanded_urls'],
      dtype='object')

In [16]:
# twitter_archive df
twitter_archive.shape

(2356, 17)

In [17]:
# twitter_archive tweet_id
twitter_archive['tweet_id'].nunique()

2356

In [18]:
# twitter_archive tweet_id look
twitter_archive['tweet_id'].value_counts()

749075273010798592    1
741099773336379392    1
798644042770751489    1
825120256414846976    1
769212283578875904    1
700462010979500032    1
780858289093574656    1
699775878809702401    1
880095782870896641    1
760521673607086080    1
776477788987613185    1
691820333922455552    1
715696743237730304    1
714606013974974464    1
760539183865880579    1
813157409116065792    1
676430933382295552    1
743510151680958465    1
837012587749474308    1
833722901757046785    1
818259473185828864    1
670704688707301377    1
667160273090932737    1
674394782723014656    1
672082170312290304    1
670093938074779648    1
759923798737051648    1
809920764300447744    1
805487436403003392    1
838085839343206401    1
                     ..
763956972077010945    1
870308999962521604    1
720775346191278080    1
785927819176054784    1
783347506784731136    1
775733305207554048    1
834209720923721728    1
825026590719483904    1
758405701903519748    1
668986018524233728    1
690938899477221376    1
667911425562669056    1
754482103782404096    1
713175907180089344    1
669015743032369152    1
672068090318987265    1
816829038950027264    1
683773439333797890    1
674291837063053312    1
837482249356513284    1
767500508068192258    1
773922284943896577    1
673342308415348736    1
886054160059072513    1
748307329658011649    1
715360349751484417    1
666817836334096384    1
794926597468000259    1
673705679337693185    1
700151421916807169    1
Name: tweet_id, Length: 2356, dtype: int64

In [19]:
# proportion of null values in `in_reply_to_status_id`
len(twitter_archive[twitter_archive['in_reply_to_status_id'].isnull()])/len(twitter_archive['in_reply_to_status_id'])

# proportion of null values in `in_reply_to_user_id` as `in_reply_to_status_id`

0.966893039049236

In [20]:
# tweet timestamp value counts
twitter_archive['timestamp'].value_counts()

2016-01-03 01:39:57 +0000    1
2017-07-19 03:39:09 +0000    1
2016-08-27 00:47:53 +0000    1
2015-12-15 04:19:18 +0000    1
2015-12-11 17:51:04 +0000    1
2016-10-31 18:00:14 +0000    1
2016-06-11 01:13:51 +0000    1
2016-03-13 23:24:56 +0000    1
2016-06-17 16:01:16 +0000    1
2015-12-10 00:08:50 +0000    1
2015-12-01 03:39:03 +0000    1
2016-06-01 00:17:54 +0000    1
2016-01-24 03:14:07 +0000    1
2016-07-01 02:06:06 +0000    1
2017-05-10 00:08:34 +0000    1
2016-01-12 04:01:58 +0000    1
2016-03-03 19:32:29 +0000    1
2016-09-23 01:00:13 +0000    1
2017-01-15 21:49:15 +0000    1
2015-11-21 02:07:05 +0000    1
2015-11-30 03:06:07 +0000    1
2017-02-14 01:35:49 +0000    1
2017-06-11 21:18:31 +0000    1
2015-12-24 03:55:21 +0000    1
2017-02-06 17:02:17 +0000    1
2015-11-23 04:21:26 +0000    1
2016-01-16 15:40:14 +0000    1
2016-01-31 04:11:58 +0000    1
2015-12-09 18:59:46 +0000    1
2016-05-24 15:55:00 +0000    1
                            ..
2017-01-18 20:16:54 +0000    1
2016-12-12 02:21:26 +0000    1
2015-11-24 03:19:43 +0000    1
2015-11-24 18:01:05 +0000    1
2015-12-30 01:00:03 +0000    1
2015-12-24 16:00:30 +0000    1
2016-02-15 03:55:41 +0000    1
2016-11-08 16:47:50 +0000    1
2016-10-17 17:32:13 +0000    1
2016-06-04 00:32:32 +0000    1
2016-07-01 20:31:43 +0000    1
2015-12-08 01:21:40 +0000    1
2016-01-09 19:31:20 +0000    1
2015-12-18 00:18:36 +0000    1
2015-12-30 04:44:28 +0000    1
2017-03-21 00:22:10 +0000    1
2015-12-15 20:40:47 +0000    1
2016-07-04 20:00:23 +0000    1
2016-06-08 22:48:46 +0000    1
2016-03-11 02:36:57 +0000    1
2017-02-25 19:37:50 +0000    1
2015-12-24 03:12:15 +0000    1
2015-12-02 00:58:41 +0000    1
2016-07-10 16:10:29 +0000    1
2017-04-01 16:35:01 +0000    1
2017-01-09 22:42:41 +0000    1
2015-12-17 03:53:20 +0000    1
2017-03-29 16:00:12 +0000    1
2016-01-04 03:18:23 +0000    1
2016-06-15 22:36:19 +0000    1
Name: timestamp, Length: 2356, dtype: int64

In [21]:
# explore time_stamp start to end date time
twitter_archive['timestamp'].min(), twitter_archive['timestamp'].max()

('2015-11-15 22:32:08 +0000', '2017-08-01 16:23:56 +0000')

In [22]:
# number of unique source from twitter_archive
twitter_archive['source'].nunique()

4

In [23]:
# Value of unique source from twitter_archive
twitter_archive['source'].value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

In [24]:
# lets look at the test in twitter_archive
twitter_archive['text'].value_counts()

This is Timofy. He's a pilot for Southwest. It's Christmas morning &amp; everyone has gotten kickass gifts but him. 9/10 https://t.co/3FuNbzyPwo                          1
This is Maxaroni. He's curly af. Also rather fabulous. 11/10 would hug well https://t.co/A216OjIdca                                                                       1
This is Bo. He was a very good First Doggo. 14/10 would be an absolute honor to pet https://t.co/AdPKrI8BZ1                                                               1
This is Pickles. She's a silly pupper. Thinks she's a dish. 12/10 would dry https://t.co/7mPCF4ZwEk                                                                       1
This is Harper. She scraped her elbow attempting a backflip off a tree. Valiant effort tho. 12/10 https://t.co/oHKJHghrp5                                                 1
This is Pavlov. His floatation device has failed him. He's quite pupset about it. 11/10 would rescue https://t.co/MXd0AGDsRJ                                              1
This is Rontu. He is described as a pal, cuddle bug, protector and constant shadow. 12/10, but he needs your help\n\nhttps://t.co/zK4cpKPFfU https://t.co/7Xvoalr798      1
This pup was carefully tossed to make it look like she's riding that horse. I have no words this is fabulous. 12/10 https://t.co/Bob33W4sfD                               1
This is Doug. He's a Draconian Jabbawockee. Rad tongue. Ears are borderline legendary 11/10 would pet with a purpose https://t.co/MVvbQW88Pv                              1
RT @jon_hill987: @dog_rates There is a cunningly disguised pupper here mate! 11/10 at least. https://t.co/7boff8zojZ                                                      1
This is Kloey. Her mother was a unicorn. 10/10 https://t.co/NvKJRYDosA                                                                                                    1
We only rate dogs. Pls stop sending in non-canines like this Jamaican Flop Seal. This is very very frustrating. 9/10 https://t.co/nc53zEN0hZ                              1
RT @dog_rates: This is Shaggy. He knows exactly how to solve the puzzle but can't talk. All he wants to do is help. 10/10 great guy https:/…                              1
This is Charles. He's a Nova Scotian Towel Pouncer. Deadly af. Nifty tongue slip. 11/10 would pet with caution https://t.co/EfejX3iRGr                                    1
Cool dog. Enjoys couch. Low monotone bark. Very nice kicks. Pisses milk (must be rare). Can't go down stairs. 4/10 https://t.co/vXMKrJC81s                                1
This is Hazel. She's a gymnast. Training hard for Rio. 11/10 focused af https://t.co/CneG2ZbxHP                                                                           1
This is Yukon. He pukes rainbows. 12/10 magical af https://t.co/n6wND1v7il                                                                                                1
This is Mosby. He appears to be rather h*ckin snuggable af. 12/10 keep it up Mosby https://t.co/IiiBq460I7                                                                1
I want to hear the joke this dog was just told. 10/10 https://t.co/1KiuZqqOD4                                                                                             1
Say hello to Bobb. Bobb is a Golden High Fescue &amp; a proud father of 8. Bobb sleeps while the little pups play. 11/10 https://t.co/OmxouCZ8IY                          1
I've watched this a million times and you probably will too. 12/10 (vid by @emily_galasso) https://t.co/DU7Rb3NDiy                                                        1
This is Keith. He's had 13 DUIs. 7/10 that's too many Keith https://t.co/fa7olwrF9Y                                                                                       1
Say hello to Andy. He can balance on one foot, obliterate u in checkers, &amp; transform into a rug. 11/10 much talents https://t.co/idzH8JH06g                           1
I hope you guys enjoy this beautiful snowy pupper as much as I did. 11/10 https://t.co/DYUsHtL2aR                                                                         1
I've yet to rate a Venezuelan Hover Wiener. This is such an honor. 14/10 paw-inspiring af (IG: roxy.thedoxy) https://t.co/20VrLAA8ba                                      1
Meet Beau &amp; Wilbur. Wilbur stole Beau's bed from him. Wilbur now has so much room for activities. 9/10 for both pups https://t.co/GPaoH5qWEk                          1
RT @dog_rates: Meet Sammy. At first I was like "that's a snowflake. we only rate dogs," but he would've melted by now, so 10/10 https://t.c…                              1
This a Norwegian Pewterschmidt named Tickles. Ears for days. 12/10 I care deeply for Tickles https://t.co/0aDF62KVP7                                                      1
This is Otis. Everybody look at Otis. 12/10 would probably faint while petting https://t.co/I9qoe1uEih                                                                    1
This is Samson. He patrols his waters on the back of his massive shielded battle dog. 11/10 https://t.co/f8dVgDYDFf                                                       1
                                                                                                                                                                         ..
This is Geno. He's a Wrinkled Baklavian Velveeta. Looks sad but that's just the extra skin. 11/10 would smoosh face https://t.co/Kxda28JmQ2                               1
Guys.. we only rate dogs. Pls don't send any more pics of the Loch Ness Monster. Only send in dogs. Thank you. 11/10 https://t.co/obH5vMbm1j                              1
Fascinating dog here. Loves beach. Oddly long nose for dog. Massive ass paws. Hard to cuddle w. 3/10 would still pet https://t.co/IiSdmhkC5N                              1
This is Leela. She's a Fetty Woof. Lost eye while saving a baby from an avalanche. 11/10 true h*ckin hero https://t.co/2lBg3ZgivD                                         1
This is Max. She has one ear that's always slightly more alert than the other. 10/10 wonky af https://t.co/5eJg69G8vY                                                     1
Pause your cookout and admire this pupper's nifty hat. 10/10 https://t.co/RG4C9IdNJM                                                                                      1
Meet Tango. He's a large dog. Doesn't care much for personal space. Owner isn't very accepting. Tongue slip. 6/10 https://t.co/p2T5kGebxe                                 1
This is Olive. He's stuck in a sleeve. 9/10 damn it Olive https://t.co/NnLjg6BgyF                                                                                         1
RT @dog_rates: This is Sampson. He just graduated. Ready to be a doggo now. Time for the real world. 12/10 have fun with taxes https://t.co…                              1
This is Lucy. She's sick of these bullshit generalizations 11/10 https://t.co/d2b5C2R0aO                                                                                  1
This is Oliver. He has dreams of being a service puppo so he can help his owner. 13/10 selfless af\n\nmake it happen:\nhttps://t.co/f5WMsx0a9K https://t.co/6lJz0DKZIb    1
This is Reese. He's a Chilean Sohcahtoa. Loves to swing. Never sure what to do with his feet. 12/10 huggable af https://t.co/VA6jnNUyuW                                   1
"Yo Boomer I'm taking a selfie, grab your stick"\n"Ok make sure to get this rad hole I just dug in there"\n\nBoth 10/10 https://t.co/e0gbl9VFpA                           1
Meet Rodney. He's a Ukranian Boomchicka. Outside but would like to be inside. Only has one ear (unfortunate) 10/10 https://t.co/FjAj3ggXrR                                1
Here we see one dog giving a puptalk to another dog. Both are focused af. Left one has powerful feet. 11/10 for both https://t.co/fUacc13OrW                              1
These two pups just met and have instantly bonded. Spectacular scene. Mesmerizing af. 10/10 and 7/10 for blue dog https://t.co/gwryaJO4tC                                 1
This is Stuart. He's sporting his favorite fanny pack. Secretly filled with bones only. 13/10 puppared puppo #BarkWeek https://t.co/y70o6h3isq                            1
Here's a couple rufferees making sure all the sports are played fairly today. Both 10/10 would bribe with extra pets https://t.co/H9yjI9eo3A                              1
This is Kingsley Wellensworth III. He owns 7 range rovers. Has a cardigan collection. Would rather be sailing. 9/10 https://t.co/BE4ahQ0IO2                               1
RT @dog_rates: Say hello to Levi. He's a Madagascan Butterbop. One of the more docile Butterbops I've seen. 12/10 would give all the pets h…                              1
RT @dog_rates: This is Bo. He was a very good First Doggo. 14/10 would be an absolute honor to pet https://t.co/AdPKrI8BZ1                                                1
Here is a horned dog. Much grace. Can jump over moons (dam!). Paws not soft. Bad at barking. 7/10 can still pet tho https://t.co/2Su7gmsnZm                               1
Say hello to Samson. He's a Firecracker Häagen-Dazs. 11/10 objects in mirror may be more petable than they appear https://t.co/03vR9dn7jy                                 1
This is Lou. His sweater is too small and he already cut the tags off. Very very churlish. 10/10 would still pet https://t.co/dZPMLresEr                                  1
We only rate dogs. Please stop sending in your 31 year old sons that won't get out of your house. Thank you... 11/10 https://t.co/aTU53NNUkt                              1
This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB                         1
We normally don't rate lobsters, but this one appears to be a really good lobster. 10/10 would pet with caution https://t.co/YkHc7U7uUy                                   1
This is Theo. He can walk on water. Still coming to terms with it. 12/10 magical af https://t.co/8Kmuj6SFbC                                                               1
This is a southern Vesuvius bumblegruff. Can drive a truck (wow). Made friends with 5 other nifty dogs (neat). 7/10 https://t.co/LopTBkKa8h                               1
Here's a helicopter pupper. He takes off at random. H*ckin hard to control. 12/10 rare af https://t.co/GRWPgNKt2z                                                         1
Name: text, Length: 2356, dtype: int64

In [25]:
# retweeted_status_id unique count
twitter_archive['retweeted_status_id'].nunique()

181

In [26]:
# retweeted_status_id value counts
twitter_archive['retweeted_status_id'].value_counts()

7.757333e+17    1
7.507196e+17    1
6.742918e+17    1
6.833919e+17    1
8.269587e+17    1
8.780576e+17    1
7.320056e+17    1
7.186315e+17    1
6.732953e+17    1
7.914070e+17    1
8.447048e+17    1
7.862340e+17    1
8.685523e+17    1
7.504293e+17    1
8.327664e+17    1
6.690004e+17    1
6.873173e+17    1
7.638376e+17    1
7.815247e+17    1
8.092201e+17    1
8.000650e+17    1
8.174239e+17    1
8.001414e+17    1
7.909461e+17    1
7.867091e+17    1
8.406323e+17    1
8.688804e+17    1
7.869631e+17    1
7.733088e+17    1
8.222448e+17    1
               ..
6.816941e+17    1
7.899865e+17    1
7.939622e+17    1
6.800555e+17    1
7.128090e+17    1
8.164506e+17    1
6.769365e+17    1
6.675487e+17    1
8.083449e+17    1
7.626999e+17    1
6.678667e+17    1
8.479710e+17    1
6.820881e+17    1
8.352641e+17    1
7.761133e+17    1
7.902771e+17    1
6.675484e+17    1
7.677549e+17    1
8.782815e+17    1
8.663350e+17    1
7.399792e+17    1
7.403732e+17    1
8.395493e+17    1
7.001438e+17    1
8.482894e+17    1
7.848260e+17    1
7.806013e+17    1
8.305833e+17    1
7.047611e+17    1
7.331095e+17    1
Name: retweeted_status_id, Length: 181, dtype: int64

In [27]:
# Retweeted_timestamp value counts
twitter_archive['retweeted_status_timestamp'].value_counts()

2016-09-01 16:14:48 +0000    1
2017-02-16 23:23:38 +0000    1
2017-03-08 01:41:24 +0000    1
2016-11-22 20:58:07 +0000    1
2016-02-21 01:19:47 +0000    1
2016-07-13 01:34:21 +0000    1
2016-07-27 00:40:12 +0000    1
2017-06-09 16:22:42 +0000    1
2016-08-01 16:42:51 +0000    1
2016-06-08 02:41:38 +0000    1
2017-04-01 21:42:03 +0000    1
2015-12-02 03:40:57 +0000    1
2017-01-13 17:00:21 +0000    1
2016-08-22 16:06:54 +0000    1
2016-08-01 01:28:46 +0000    1
2016-07-30 17:56:51 +0000    1
2016-03-24 01:11:29 +0000    1
2015-12-22 04:35:49 +0000    1
2016-04-29 00:21:01 +0000    1
2016-10-14 16:13:10 +0000    1
2017-02-18 01:39:12 +0000    1
2016-01-13 16:56:30 +0000    1
2016-12-09 06:17:20 +0000    1
2016-10-23 19:42:02 +0000    1
2017-01-02 18:38:42 +0000    1
2015-12-12 02:23:01 +0000    1
2016-10-21 18:16:44 +0000    1
2015-11-19 00:32:12 +0000    1
2015-12-24 16:00:30 +0000    1
2017-06-19 17:14:49 +0000    1
                            ..
2015-11-28 03:31:48 +0000    1
2016-08-23 21:09:14 +0000    1
2015-12-30 06:37:25 +0000    1
2017-01-27 17:04:02 +0000    1
2016-08-11 20:40:41 +0000    1
2016-02-26 02:20:37 +0000    1
2015-12-28 17:12:42 +0000    1
2016-11-20 00:59:15 +0000    1
2016-12-15 02:14:29 +0000    1
2015-11-21 00:46:50 +0000    1
2016-10-07 00:06:50 +0000    1
2016-06-07 00:36:02 +0000    1
2016-01-27 18:42:06 +0000    1
2016-07-25 15:23:28 +0000    1
2016-02-02 23:52:22 +0000    1
2017-02-24 23:04:14 +0000    1
2016-09-07 15:44:53 +0000    1
2015-12-06 00:17:55 +0000    1
2016-08-31 15:10:07 +0000    1
2016-05-28 03:04:00 +0000    1
2017-02-09 01:27:41 +0000    1
2017-05-18 01:17:25 +0000    1
2015-11-27 19:11:49 +0000    1
2016-09-14 17:40:06 +0000    1
2016-06-25 17:31:25 +0000    1
2016-09-26 17:55:00 +0000    1
2016-07-22 00:43:32 +0000    1
2016-08-05 21:19:27 +0000    1
2017-05-06 17:49:42 +0000    1
2016-02-18 02:24:13 +0000    1
Name: retweeted_status_timestamp, Length: 181, dtype: int64

In [28]:
# looking at urls in twitter_archive
twitter_archive['expanded_urls'][:5]

0    https://twitter.com/dog_rates/status/892420643...
1    https://twitter.com/dog_rates/status/892177421...
2    https://twitter.com/dog_rates/status/891815181...
3    https://twitter.com/dog_rates/status/891689557...
4    https://twitter.com/dog_rates/status/891327558...
Name: expanded_urls, dtype: object

In [29]:
twitter_archive['expanded_urls'].value_counts()[:10]

https://twitter.com/dog_rates/status/829501995190984704/photo/1,https://twitter.com/dog_rates/status/829501995190984704/photo/1                                                                                                                                    2
https://twitter.com/dog_rates/status/773308824254029826/photo/1                                                                                                                                                                                                    2
https://twitter.com/dog_rates/status/791406955684368384/photo/1,https://twitter.com/dog_rates/status/791406955684368384/photo/1,https://twitter.com/dog_rates/status/791406955684368384/photo/1,https://twitter.com/dog_rates/status/791406955684368384/photo/1    2
https://twitter.com/dog_rates/status/816450570814898180/photo/1,https://twitter.com/dog_rates/status/816450570814898180/photo/1                                                                                                                                    2
https://twitter.com/dog_rates/status/841077006473256960/photo/1                                                                                                                                                                                                    2
https://twitter.com/dog_rates/status/820749716845686786/photo/1,https://twitter.com/dog_rates/status/820749716845686786/photo/1                                                                                                                                    2
https://twitter.com/dog_rates/status/809220051211603969/photo/1,https://twitter.com/dog_rates/status/809220051211603969/photo/1                                                                                                                                    2
https://twitter.com/dog_rates/status/809920764300447744/photo/1                                                                                                                                                                                                    2
https://twitter.com/dog_rates/status/781524693396357120/photo/1                                                                                                                                                                                                    2
https://twitter.com/dog_rates/status/667152164079423490/photo/1                                                                                                                                                                                                    2
Name: expanded_urls, dtype: int64

In [30]:
# rating denominator
twitter_archive['rating_denominator'].value_counts()

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

In [31]:
# rating numerator
twitter_archive['rating_numerator'].value_counts()

12      558
11      464
10      461
13      351
9       158
8       102
7        55
14       54
5        37
6        32
3        19
4        17
1         9
2         9
420       2
0         2
15        2
75        2
80        1
20        1
24        1
26        1
44        1
50        1
60        1
165       1
84        1
88        1
144       1
182       1
143       1
666       1
960       1
1776      1
17        1
27        1
45        1
99        1
121       1
204       1
Name: rating_numerator, dtype: int64

In [32]:
# rating_numerator is distributed across 0- max(1776)
# getting rating_numerator greater than 20.
twitter_archive.query("rating_numerator > 20")

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
188,855862651834028034,8.558616e+17,1.943518e+08,2017-04-22 19:15:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@dhmontgomery We also gave snoop dogg a 420/10...,NaN,NaN,NaN,NaN,420,10,None,None,None,None,None
189,855860136149123072,8.558585e+17,1.361572e+07,2017-04-22 19:05:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@s8n You tried very hard to portray this good ...,NaN,NaN,NaN,NaN,666,10,None,None,None,None,None
290,838150277551247360,8.381455e+17,2.195506e+07,2017-03-04 22:12:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@markhoppus 182/10,NaN,NaN,NaN,NaN,182,10,None,None,None,None,None
313,835246439529840640,8.352460e+17,2.625958e+07,2017-02-24 21:54:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@jonnysun @Lin_Manuel ok jomny I know you're e...,NaN,NaN,NaN,NaN,960,0,None,None,None,None,None
340,832215909146226688,NaN,NaN,2017-02-16 13:11:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...","RT @dog_rates: This is Logan, the Chow who liv...",7.867091e+17,4.196984e+09,2016-10-13 23:23:56 +0000,https://twitter.com/dog_rates/status/786709082...,75,10,Logan,None,None,None,None
433,820690176645140481,NaN,NaN,2017-01-15 17:52:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",The floofs have been released I repeat the flo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/820690176...,84,70,None,None,None,None,None
516,810984652412424192,NaN,NaN,2016-12-19 23:06:23 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Sam. She smiles 24/7 &amp; secretly aspir...,NaN,NaN,NaN,"https://www.gofundme.com/sams-smile,https://tw...",24,7,Sam,None,None,None,None
695,786709082849828864,NaN,NaN,2016-10-13 23:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...","This is Logan, the Chow who lived. He solemnly...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/786709082...,75,10,Logan,None,None,None,None
763,778027034220126208,NaN,NaN,2016-09-20 00:24:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Sophie. She's a Jubilant Bush Pupper. ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/778027034...,27,10,Sophie,None,None,pupper,None
902,758467244762497024,NaN,NaN,2016-07-28 01:00:57 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Why does this never happen at my front door......,NaN,NaN,NaN,https://twitter.com/dog_rates/status/758467244...,165,150,None,None,None,None,None
979,749981277374128128,NaN,NaN,2016-07-04 15:00:45 +0000,"<a href=""https://about.twitter.com/products/tw...",This is Atticus. He's quite simply America af....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/749981277...,1776,10,Atticus,None,None,None,None
1120,731156023742988288,NaN,NaN,2016-05-13 16:15:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to this unbelievably well behaved sq...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/731156023...,204,170,this,None,None,None,None
1202,716439118184652801,NaN,NaN,2016-04-03 01:36:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bluebert. He just saw that both #Final...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/716439118...,50,50,Bluebert,None,None,None,None
1228,713900603437621249,NaN,NaN,2016-03-27 01:29:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Happy Saturday here's 9 puppers on a bench. 99...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/713900603...,99,90,None,None,None,None,None
1254,710658690886586372,NaN,NaN,2016-03-18 02:46:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a brigade of puppers. All look very pre...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/710658690...,80,80,None,None,None,None,None
1274,709198395643068416,NaN,NaN,2016-03-14 02:04:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...","From left to right:\nCletus, Jerome, Alejandro...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/709198395...,45,50,None,None,None,None,None
1351,704054845121142784,NaN,NaN,2016-02-28 21:25:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a whole flock of puppers. 60/50 I'll ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/704054845...,60,50,a,None,None,None,None
1433,697463031882764288,NaN,NaN,2016-02-10 16:51:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Happy Wednesday here's a bucket of pups. 44/40...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/697463031...,44,40,None,None,None,None,None
1634,684225744407494656,6.842229e+17,4.196984e+09,2016-01-05 04:11:44 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Two sneaky puppers were not initially seen, mo...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/684225744...,143,130,None,None,None,None,None
1635,684222868335505415,NaN,NaN,2016-01-05 04:00:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Someone help the girl is being mugged. Several...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/684222868...,121,110,None,None,None,None,None
1712,680494726643068929,NaN,NaN,2015-12-25 21:06:00 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have uncovered an entire battalion of ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/680494726...,26,10,None,None,None,None,None
1779,677716515794329600,NaN,NaN,2015-12-18 05:06:23 +0000,"<a href=""http://twitter.com/download/iphone"" r...",IT'S PUPPERGEDDON. Total of 144/120 ...I think...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/677716515...,144,120,None,None,None,None,None
1843,675853064436391936,NaN,NaN,2015-12-13 01:41:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have an entire platoon of puppers. Tot...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675853064...,88,80,None,None,None,None,None
2074,670842764863651840,NaN,NaN,2015-11-29 05:52:33 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After so many requests... here you go.\n\nGood...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/670842764...,420,10,None,None,None,None,None

In [33]:
# unique name in twitter_archive
twitter_archive['name'].nunique()

957

In [34]:
# unqiue name count in twitter_archive
twitter_archive['name'].value_counts()

None         745
a             55
Charlie       12
Lucy          11
Cooper        11
Oliver        11
Lola          10
Tucker        10
Penny         10
Winston        9
Bo             9
Sadie          8
the            8
Daisy          7
an             7
Bailey         7
Buddy          7
Toby           7
Scout          6
Koda           6
Dave           6
Stanley        6
Milo           6
Jack           6
Leo            6
Rusty          6
Oscar          6
Jax            6
Bella          6
Oakley         5
            ...
Farfle         1
Huxley         1
Yukon          1
Mosby          1
Filup          1
Philippe       1
Monster        1
Luther         1
Brian          1
Kara           1
Dook           1
Hall           1
Rooney         1
Kaiya          1
Kevon          1
Staniel        1
Divine         1
Ace            1
Zeus           1
Karl           1
Mookie         1
Jebberson      1
Kuyu           1
old            1
Alfy           1
Cuddles        1
Darla          1
Kingsley       1
Bobbay         1
River          1
Name: name, Length: 957, dtype: int64

In [35]:
# when looking at name in twitter_archive we found out that there were
# few invalid names like null or a or two letter words 
# as basically most name have atleast  letters
twitter_archive[twitter_archive['name'].apply(len) < 3]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
56,881536004380872706,NaN,NaN,2017-07-02 15:32:16 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a pupper approaching maximum borkdrive...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/881536004...,14,10,a,None,None,pupper,None
393,825876512159186944,NaN,NaN,2017-01-30 01:21:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Mo. No one will push him around in the...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/825876512...,11,10,Mo,None,None,None,None
446,819015337530290176,NaN,NaN,2017-01-11 02:57:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Bo. He was a very good ...,8.190048e+17,4.196984e+09,2017-01-11 02:15:36 +0000,https://twitter.com/dog_rates/status/819004803...,14,10,Bo,doggo,None,None,None
449,819004803107983360,NaN,NaN,2017-01-11 02:15:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bo. He was a very good First Doggo. 14...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/819004803...,14,10,Bo,doggo,None,None,None
553,804026241225523202,NaN,NaN,2016-11-30 18:16:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bo. He's going to make me cry. 13/10 p...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/804026241...,13,10,Bo,None,None,None,None
583,800188575492947969,NaN,NaN,2016-11-20 04:06:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Bo. He's a Benedoop Cum...,6.816941e+17,4.196984e+09,2015-12-29 04:31:49 +0000,https://twitter.com/dog_rates/status/681694085...,11,10,Bo,None,None,pupper,None
649,792913359805018113,NaN,NaN,2016-10-31 02:17:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a perfect example of someone who has t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/792913359...,13,10,a,None,None,None,None
679,789137962068021249,NaN,NaN,2016-10-20 16:15:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bo. He's a West Congolese Bugaboop Snu...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/789137962...,12,10,Bo,None,None,None,None
686,788070120937619456,NaN,NaN,2016-10-17 17:32:13 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Bo and Ty. Bo eats pape...,7.610045e+17,4.196984e+09,2016-08-04 01:03:17 +0000,https://twitter.com/dog_rates/status/761004547...,11,10,Bo,None,None,None,None
759,778396591732486144,NaN,NaN,2016-09-21 00:53:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is an East African Chalupa...,7.030419e+17,4.196984e+09,2016-02-26 02:20:37 +0000,https://twitter.com/dog_rates/status/703041949...,10,10,an,None,None,None,None
775,776201521193218049,NaN,NaN,2016-09-14 23:30:38 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is O'Malley. That is how he sleeps. Doesn...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/776201521...,10,10,O,None,None,None,None
801,772581559778025472,NaN,NaN,2016-09-04 23:46:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Guys this is getting so out of hand. We only r...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/772581559...,10,10,a,None,None,None,None
820,770414278348247044,NaN,NaN,2016-08-30 00:14:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Al Cabone. He's a gangsta puppa. Rather h...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/770414278...,11,10,Al,None,None,None,None
852,765395769549590528,NaN,NaN,2016-08-16 03:52:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is my dog. Her name is Zoey. She knows I'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/765395769...,13,10,my,None,None,None,None
876,761004547850530816,NaN,NaN,2016-08-04 01:03:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bo and Ty. Bo eats paper and Ty felt l...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/761004547...,11,10,Bo,None,None,None,None
978,749996283729883136,NaN,NaN,2016-07-04 16:00:22 +0000,"<a href=""https://about.twitter.com/products/tw...",This is Bo. He emanates happiness. 12/10 I cou...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/749996283...,12,10,Bo,None,None,None,None
1002,747885874273214464,NaN,NaN,2016-06-28 20:14:22 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a mighty rare blue-tailed hammer sherk...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/747885874...,8,10,a,None,None,None,None
1004,747816857231626240,NaN,NaN,2016-06-28 15:40:07 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Viewer discretion is advised. This is a terrib...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/747816857...,4,10,a,None,None,None,None
1017,746872823977771008,NaN,NaN,2016-06-26 01:08:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a carrot. We only rate dogs. Please on...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/746872823...,11,10,a,None,None,None,None
1025,746369468511756288,NaN,NaN,2016-06-24 15:48:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an Iraqi Speed Kangaroo. It is not a d...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/746369468...,9,10,an,None,None,None,None
1049,743222593470234624,NaN,NaN,2016-06-15 23:24:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a very rare Great Alaskan Bush Pupper....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/743222593...,12,10,a,None,None,pupper,None
1193,717537687239008257,NaN,NaN,2016-04-06 02:21:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",People please. This is a Deadly Mediterranean ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/717537687...,11,10,a,None,None,None,None
1207,715733265223708672,NaN,NaN,2016-04-01 02:51:22 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a taco. We only rate dogs. Please only...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/715733265...,10,10,a,None,None,None,None
1340,704859558691414016,NaN,NaN,2016-03-02 02:43:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a heartbreaking scene of an incredible...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/704859558...,10,10,a,None,None,pupper,None
1351,704054845121142784,NaN,NaN,2016-02-28 21:25:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a whole flock of puppers. 60/50 I'll ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/704054845...,60,50,a,None,None,None,None
1361,703079050210877440,NaN,NaN,2016-02-26 04:48:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a Butternut Cumberfloof. It's not wind...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/703079050...,11,10,a,None,None,None,None
1362,703041949650034688,NaN,NaN,2016-02-26 02:20:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an East African Chalupa Seal. We only ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/703041949...,10,10,an,None,None,None,None
1368,702539513671897089,NaN,NaN,2016-02-24 17:04:07 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a Wild Tuscan Poofwiggle. Careful not ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/702539513...,12,10,a,None,None,None,None
1382,700864154249383937,NaN,NaN,2016-02-20 02:06:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...","""Pupper is a present to world. Here is a bow f...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/700864154...,12,10,a,None,None,pupper,None
1499,692187005137076224,NaN,NaN,2016-01-27 03:26:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a rare Arctic Wubberfloof. Unamused by...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/692187005...,12,10,a,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2146,669923323644657664,NaN,NaN,2015-11-26 16:59:01 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a spotted Lipitor Rumpelstiltskin name...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/669923323...,10,10,a,None,None,None,None
2153,669661792646373376,NaN,NaN,2015-11-25 23:39:47 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a brave dog. Excellent free climber. T...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/669661792...,5,10,a,None,None,None,None
2161,669564461267722241,NaN,NaN,2015-11-25 17:13:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a Coriander Baton Rouge named Alfredo....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/669564461...,10,10,a,None,None,None,None
2191,668955713004314625,NaN,NaN,2015-11-24 00:54:05 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a Slovakian Helter Skelter Feta named ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668955713...,10,10,a,None,None,None,None
2198,668815180734689280,NaN,NaN,2015-11-23 15:35:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a wild Toblerone from Papua New Guinea...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668815180...,7,10,a,None,None,None,None
2204,668636665813057536,NaN,NaN,2015-11-23 03:46:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an Irish Rigatoni terrier named Berta....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668636665...,10,10,an,None,None,None,None
2211,668614819948453888,NaN,NaN,2015-11-23 02:19:29 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a horned dog. Much grace. Can jump ove...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668614819...,7,10,a,None,None,None,None
2218,668507509523615744,NaN,NaN,2015-11-22 19:13:05 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a Birmingham Quagmire named Chuk. Love...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668507509...,10,10,a,None,None,None,None
2219,668496999348633600,NaN,NaN,2015-11-22 18:31:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jo. Jo is a Swedish Queso. Tongue bigg...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668496999...,8,10,Jo,None,None,None,None
2222,668466899341221888,NaN,NaN,2015-11-22 16:31:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a mother dog caring for her pups. Snaz...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668466899...,4,10,a,None,None,None,None
2235,668171859951755264,NaN,NaN,2015-11-21 20:59:20 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a Trans Siberian Kellogg named Alfonso...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668171859...,7,10,a,None,None,None,None
2249,667861340749471744,NaN,NaN,2015-11-21 00:25:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a Shotokon Macadamia mix named Cheryl....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667861340...,9,10,a,None,None,None,None
2255,667773195014021121,NaN,NaN,2015-11-20 18:35:10 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This is a rare Hungarian Pinot named Jessiga. ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667773195...,8,10,a,None,None,None,None
2264,667538891197542400,NaN,NaN,2015-11-20 03:04:08 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This is a southwest Coriander named Klint. Hat...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667538891...,9,10,a,None,None,None,None
2273,667470559035432960,NaN,NaN,2015-11-19 22:32:36 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This is a northern Wahoo named Kohl. He runs t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667470559...,11,10,a,None,None,None,None
2287,667177989038297088,NaN,NaN,2015-11-19 03:10:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a Dasani Kingfisher from Maine. His na...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667177989...,8,10,a,None,None,None,None
2304,666983947667116034,NaN,NaN,2015-11-18 14:18:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a curly Ticonderoga named Pepe. No fee...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666983947...,11,10,a,None,None,None,None
2311,666781792255496192,NaN,NaN,2015-11-18 00:55:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Bacardi named Octaviath. Ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666781792...,10,10,a,None,None,None,None
2314,666701168228331520,NaN,NaN,2015-11-17 19:35:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a golden Buckminsterfullerene named Jo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666701168...,8,10,a,None,None,None,None
2327,666407126856765440,NaN,NaN,2015-11-17 00:06:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a southern Vesuvius bumblegruff. Can d...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666407126...,7,10,a,None,None,None,None
2333,666337882303524864,NaN,NaN,2015-11-16 19:31:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an extremely rare horned Parthenon. No...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666337882...,9,10,an,None,None,None,None
2334,666293911632134144,NaN,NaN,2015-11-16 16:37:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a funny dog. Weird toes. Won't come do...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666293911...,3,10,a,None,None,None,None
2335,666287406224695296,NaN,NaN,2015-11-16 16:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an Albanian 3 1/2 legged Episcopalian...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666287406...,1,2,an,None,None,None,None
2347,666057090499244032,NaN,NaN,2015-11-16 00:55:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",My oh my. This is a rare blond Canadian terrie...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666057090...,9,10,a,None,None,None,None
2348,666055525042405380,NaN,NaN,2015-11-16 00:49:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a Siberian heavily armored polar bear ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666055525...,10,10,a,None,None,None,None
2349,666051853826850816,NaN,NaN,2015-11-16 00:35:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an odd dog. Hard on the outside but lo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666051853...,2,10,an,None,None,None,None
2350,666050758794694657,NaN,NaN,2015-11-16 00:30:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a truly beautiful English Wilson Staff...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666050758...,10,10,a,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None

In [36]:
# propotition of 'in_reply_to_status_id' which is null
len(twitter_archive[twitter_archive['in_reply_to_status_id'].isnull()])/twitter_archive.shape[0]

0.966893039049236

In [37]:
# propotition of 'in_reply_to_status_id' which is null
len(twitter_archive[twitter_archive['in_reply_to_user_id'].isnull()])/twitter_archive.shape[0]

0.966893039049236

In [38]:
#looking at images_predition dataset
images_predictions.sample(5)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
322,671866342182637568,https://pbs.twimg.com/media/CVLy3zFWoAA93qJ.jpg,1,Labrador_retriever,0.875614,True,Chihuahua,0.032182,True,golden_retriever,1.723250e-02,True
655,682242692827447297,https://pbs.twimg.com/media/CXfQG_fW8AAjVhV.jpg,1,snorkel,0.504983,False,loggerhead,0.345298,False,scuba_diver,7.475390e-02,False
522,676582956622721024,https://pbs.twimg.com/media/CWO0m8tUwAAB901.jpg,1,seat_belt,0.790028,False,Boston_bull,0.196307,True,French_bulldog,1.242890e-02,True
149,668636665813057536,https://pbs.twimg.com/media/CUd5gBGWwAA0IVA.jpg,1,komondor,0.999956,True,llama,0.000043,False,ram,2.160900e-07,False
77,667437278097252352,https://pbs.twimg.com/media/CUM2qWaWoAUZ06L.jpg,1,porcupine,0.989154,False,bath_towel,0.006300,False,badger,9.663400e-04,False

In [39]:
#looking at images_predictions columns
images_predictions.columns

Index(['tweet_id', 'jpg_url', 'img_num', 'p1', 'p1_conf', 'p1_dog', 'p2',
       'p2_conf', 'p2_dog', 'p3', 'p3_conf', 'p3_dog'],
      dtype='object')

In [40]:
images_predictions.columns[images_predictions.isnull().any()]

Index([], dtype='object')

In [41]:
#images_predictions info
images_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [42]:
# jpg_url duplicate
images_predictions[images_predictions['jpg_url'].duplicated(keep='first')]

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1297,752309394570878976,https://pbs.twimg.com/ext_tw_video_thumb/67535...,1,upright,0.303415,False,golden_retriever,0.181351,True,Brittany_spaniel,0.162084,True
1315,754874841593970688,https://pbs.twimg.com/media/CWza7kpWcAAdYLc.jpg,1,pug,0.272205,True,bull_mastiff,0.251530,True,bath_towel,0.116806,False
1333,757729163776290825,https://pbs.twimg.com/media/CWyD2HGUYAQ1Xa7.jpg,2,cash_machine,0.802333,False,schipperke,0.045519,True,German_shepherd,0.023353,True
1345,759159934323924993,https://pbs.twimg.com/media/CU1zsMSUAAAS0qW.jpg,1,Irish_terrier,0.254856,True,briard,0.227716,True,soft-coated_wheaten_terrier,0.223263,True
1349,759566828574212096,https://pbs.twimg.com/media/CkNjahBXAAQ2kWo.jpg,1,Labrador_retriever,0.967397,True,golden_retriever,0.016641,True,ice_bear,0.014858,False
1364,761371037149827077,https://pbs.twimg.com/tweet_video_thumb/CeBym7...,1,brown_bear,0.713293,False,Indian_elephant,0.172844,False,water_buffalo,0.038902,False
1368,761750502866649088,https://pbs.twimg.com/media/CYLDikFWEAAIy1y.jpg,1,golden_retriever,0.586937,True,Labrador_retriever,0.398260,True,kuvasz,0.005410,True
1387,766078092750233600,https://pbs.twimg.com/media/ChK1tdBWwAQ1flD.jpg,1,toy_poodle,0.420463,True,miniature_poodle,0.132640,True,Chesapeake_Bay_retriever,0.121523,True
1407,770093767776997377,https://pbs.twimg.com/media/CkjMx99UoAM2B1a.jpg,1,golden_retriever,0.843799,True,Labrador_retriever,0.052956,True,kelpie,0.035711,True
1417,771171053431250945,https://pbs.twimg.com/media/CVgdFjNWEAAxmbq.jpg,3,Samoyed,0.978833,True,Pomeranian,0.012763,True,Eskimo_dog,0.001853,True
1427,772615324260794368,https://pbs.twimg.com/media/Cp6db4-XYAAMmqL.jpg,1,dalmatian,0.556595,True,whippet,0.151047,True,American_Staffordshire_terrier,0.096435,True
1446,775898661951791106,https://pbs.twimg.com/media/CiyHLocU4AI2pJu.jpg,1,golden_retriever,0.945523,True,Labrador_retriever,0.042319,True,doormat,0.003956,False
1453,776819012571455488,https://pbs.twimg.com/media/CW88XN4WsAAlo8r.jpg,3,Chihuahua,0.346545,True,dalmatian,0.166246,True,toy_terrier,0.117502,True
1456,777641927919427584,https://pbs.twimg.com/media/CmoPdmHW8AAi8BI.jpg,1,golden_retriever,0.964929,True,Labrador_retriever,0.011584,True,refrigerator,0.007499,False
1463,778396591732486144,https://pbs.twimg.com/media/CcG07BYW0AErrC9.jpg,1,hippopotamus,0.581403,False,doormat,0.152445,False,sea_lion,0.026364,False
1476,780496263422808064,https://pbs.twimg.com/media/Ck2d7tJWUAEPTL3.jpg,1,pug,0.997310,True,Brabancon_griffon,0.001186,True,French_bulldog,0.000428,True
1487,782021823840026624,https://pbs.twimg.com/media/CdHwZd0VIAA4792.jpg,1,golden_retriever,0.383223,True,cocker_spaniel,0.165930,True,Chesapeake_Bay_retriever,0.118199,True
1495,783347506784731136,https://pbs.twimg.com/media/CVuQ2LeUsAAIe3s.jpg,1,Cardigan,0.611525,True,Pembroke,0.368566,True,Chihuahua,0.003330,True
1510,786036967502913536,https://pbs.twimg.com/media/CtKHLuCWYAA2TTs.jpg,1,golden_retriever,0.993830,True,cocker_spaniel,0.003143,True,Great_Pyrenees,0.000917,True
1522,788070120937619456,https://pbs.twimg.com/media/Co-hmcYXYAASkiG.jpg,1,golden_retriever,0.735163,True,Sussex_spaniel,0.064897,True,Labrador_retriever,0.047704,True
1538,790723298204217344,https://pbs.twimg.com/media/CvaYgDOWgAEfjls.jpg,1,tub,0.479477,False,bathtub,0.325106,False,golden_retriever,0.078530,True
1541,791026214425268224,https://pbs.twimg.com/media/CpmyNumW8AAAJGj.jpg,1,malamute,0.375098,True,jean,0.069362,False,keeshond,0.050528,True
1564,793614319594401792,https://pbs.twimg.com/media/CvyVxQRWEAAdSZS.jpg,1,golden_retriever,0.705092,True,Labrador_retriever,0.219721,True,kuvasz,0.015965,True
1569,794355576146903043,https://pbs.twimg.com/media/CvJCabcWgAIoUxW.jpg,1,cocker_spaniel,0.500509,True,golden_retriever,0.272734,True,jigsaw_puzzle,0.041476,False
1571,794983741416415232,https://pbs.twimg.com/media/CvT6IV6WEAQhhV5.jpg,3,schipperke,0.363272,True,kelpie,0.197021,True,Norwegian_elkhound,0.151024,True
1579,796177847564038144,https://pbs.twimg.com/media/Cwx99rpW8AMk_Ie.jpg,1,golden_retriever,0.600276,True,Labrador_retriever,0.140798,True,seat_belt,0.087355,False
1588,798340744599797760,https://pbs.twimg.com/media/CrXhIqBW8AA6Bse.jpg,1,papillon,0.533180,True,collie,0.192031,True,Border_collie,0.121626,True
1589,798628517273620480,https://pbs.twimg.com/media/CUN4Or5UAAAa5K4.jpg,1,beagle,0.636169,True,Labrador_retriever,0.119256,True,golden_retriever,0.082549,True
1590,798644042770751489,https://pbs.twimg.com/media/CU3mITUWIAAfyQS.jpg,1,English_springer,0.403698,True,Brittany_spaniel,0.347609,True,Welsh_springer_spaniel,0.137186,True
1591,798665375516884993,https://pbs.twimg.com/media/CVMOlMiWwAA4Yxl.jpg,1,chow,0.243529,True,hamster,0.227150,False,Pomeranian,0.056057,True
...,...,...,...,...,...,...,...,...,...,...,...,...
1619,802624713319034886,https://pbs.twimg.com/media/CsrjryzWgAAZY00.jpg,1,cocker_spaniel,0.253442,True,golden_retriever,0.162850,True,otterhound,0.110921,True
1624,803692223237865472,https://pbs.twimg.com/media/CZhn-QAWwAASQan.jpg,1,Lakeland_terrier,0.530104,True,Irish_terrier,0.197314,True,Airedale,0.082515,True
1627,804413760345620481,https://pbs.twimg.com/media/CuRDF-XWcAIZSer.jpg,1,chow,0.090341,True,binoculars,0.083499,False,Irish_setter,0.077456,True
1634,805958939288408065,https://pbs.twimg.com/media/CtzKC7zXEAALfSo.jpg,1,Irish_setter,0.574557,True,golden_retriever,0.339251,True,seat_belt,0.046108,False
1636,806242860592926720,https://pbs.twimg.com/media/Ct72q9jWcAAhlnw.jpg,2,Cardigan,0.593858,True,Shetland_sheepdog,0.130611,True,Pembroke,0.100842,True
1640,807059379405148160,https://pbs.twimg.com/media/Ct2qO5PXEAE6eB0.jpg,1,seat_belt,0.474292,False,golden_retriever,0.171393,True,Labrador_retriever,0.110592,True
1645,808134635716833280,https://pbs.twimg.com/media/Cx5R8wPVEAALa9r.jpg,1,cocker_spaniel,0.740220,True,Dandie_Dinmont,0.061604,True,English_setter,0.041331,True
1652,809808892968534016,https://pbs.twimg.com/media/CwS4aqZXUAAe3IO.jpg,1,Labrador_retriever,0.861651,True,golden_retriever,0.044462,True,Staffordshire_bullterrier,0.016497,True
1683,813944609378369540,https://pbs.twimg.com/media/Cveg1-NXgAASaaT.jpg,1,Labrador_retriever,0.427742,True,Great_Dane,0.190503,True,curly-coated_retriever,0.146427,True
1693,816014286006976512,https://pbs.twimg.com/media/CiibOMzUYAA9Mxz.jpg,1,English_setter,0.677408,True,Border_collie,0.052724,True,cocker_spaniel,0.048572,True
1699,816829038950027264,https://pbs.twimg.com/media/CvoBPWRWgAA4het.jpg,1,dishwasher,0.700466,False,golden_retriever,0.245773,True,chow,0.039012,True
1703,817181837579653120,https://pbs.twimg.com/ext_tw_video_thumb/81596...,1,Tibetan_mastiff,0.506312,True,Tibetan_terrier,0.295690,True,otterhound,0.036251,True
1712,818588835076603904,https://pbs.twimg.com/media/Crwxb5yWgAAX5P_.jpg,1,Norwegian_elkhound,0.372202,True,Chesapeake_Bay_retriever,0.137187,True,malamute,0.071436,True
1717,819015331746349057,https://pbs.twimg.com/media/C12x-JTVIAAzdfl.jpg,4,prison,0.907083,False,palace,0.020089,False,umbrella,0.007850,False
1718,819015337530290176,https://pbs.twimg.com/media/C12whDoVEAALRxa.jpg,1,standard_poodle,0.351308,True,toy_poodle,0.271929,True,Tibetan_terrier,0.094759,True
1727,820446719150292993,https://pbs.twimg.com/media/CxqsX-8XUAAEvjD.jpg,3,golden_retriever,0.938048,True,kuvasz,0.025119,True,Labrador_retriever,0.022977,True
1736,821813639212650496,https://pbs.twimg.com/media/CtVAvX-WIAAcGTf.jpg,1,Saint_Bernard,0.995143,True,Cardigan,0.003044,True,English_springer,0.001050,True
1742,822647212903690241,https://pbs.twimg.com/media/C2oRbOuWEAAbVSl.jpg,1,Samoyed,0.416769,True,malamute,0.252706,True,kuvasz,0.157028,True
1746,823269594223824897,https://pbs.twimg.com/media/C2kzTGxWEAEOpPL.jpg,1,Samoyed,0.585441,True,Pomeranian,0.193654,True,Arctic_fox,0.071648,False
1755,824796380199809024,https://pbs.twimg.com/media/CwiuEJmW8AAZnit.jpg,2,gas_pump,0.676439,False,harvester,0.049995,False,swing,0.044660,False
1789,829878982036299777,https://pbs.twimg.com/media/C3nygbBWQAAjwcW.jpg,1,golden_retriever,0.617389,True,Labrador_retriever,0.337053,True,tennis_ball,0.008554,False
1803,832040443403784192,https://pbs.twimg.com/media/Cq9guJ5WgAADfpF.jpg,1,miniature_pinscher,0.796313,True,Chihuahua,0.155413,True,Staffordshire_bullterrier,0.030943,True
1804,832215726631055365,https://pbs.twimg.com/media/CwJR1okWIAA6XMp.jpg,1,Afghan_hound,0.274637,True,borzoi,0.142204,True,doormat,0.109677,False
1858,841833993020538882,https://pbs.twimg.com/ext_tw_video_thumb/81742...,1,ice_bear,0.336200,False,Samoyed,0.201358,True,Eskimo_dog,0.186789,True
1864,842892208864923648,https://pbs.twimg.com/ext_tw_video_thumb/80710...,1,Chihuahua,0.505370,True,Pomeranian,0.120358,True,toy_terrier,0.077008,True
1903,851953902622658560,https://pbs.twimg.com/media/C4KHj-nWQAA3poV.jpg,1,Staffordshire_bullterrier,0.757547,True,American_Staffordshire_terrier,0.149950,True,Chesapeake_Bay_retriever,0.047523,True
1944,861769973181624320,https://pbs.twimg.com/media/CzG425nWgAAnP7P.jpg,2,Arabian_camel,0.366248,False,house_finch,0.209852,False,cocker_spaniel,0.046403,True
1992,873697596434513921,https://pbs.twimg.com/media/DA7iHL5U0AA1OQo.jpg,1,laptop,0.153718,False,French_bulldog,0.099984,True,printer,0.077130,False
2041,885311592912609280,https://pbs.twimg.com/media/C4bTH6nWMAAX_bJ.jpg,1,Labrador_retriever,0.908703,True,seat_belt,0.057091,False,pug,0.011933,True
2055,888202515573088257,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True

In [43]:
#img_num value count
images_predictions['img_num'].value_counts()

1    1780
2     198
3      66
4      31
Name: img_num, dtype: int64

In [44]:
#looking at breed at prediction 1
images_predictions['p1'].nunique()

378

In [45]:
# Most common breed on prediction 1
images_predictions['p1'].value_counts()[:10]

golden_retriever      150
Labrador_retriever    100
Pembroke               89
Chihuahua              83
pug                    57
chow                   44
Samoyed                43
toy_poodle             39
Pomeranian             38
malamute               30
Name: p1, dtype: int64

In [46]:
# looking at tweet_json data sampling 5 
tweet_json.sample(5)

,tweet_id,favorites,retweets,user_followers,user_favourites,date_time
1483,692535307825213440,3436,1497,6629573,132918,2016-01-28 02:30:58
1237,711306686208872448,3536,803,6629532,132918,2016-03-19 21:41:44
314,834167344700198914,16933,4028,6629306,132918,2017-02-21 22:26:07
1896,674436901579923456,1170,422,6629683,132918,2015-12-09 03:54:22
398,823699002998870016,13639,2709,6629317,132918,2017-01-24 01:08:40

In [47]:
#tweet_json info
tweet_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2344 entries, 0 to 2343
Data columns (total 6 columns):
tweet_id           2344 non-null int64
favorites          2344 non-null int64
retweets           2344 non-null int64
user_followers     2344 non-null int64
user_favourites    2344 non-null int64
date_time          2344 non-null object
dtypes: int64(5), object(1)
memory usage: 110.0+ KB

In [48]:
#top 10 account having largest followers 
tweet_json.nlargest(10, ['user_followers'])

,tweet_id,favorites,retweets,user_followers,user_favourites,date_time
2337,666051853826850816,1231,859,6629803,132918,2015-11-16 00:35:11
2338,666050758794694657,133,58,6629803,132918,2015-11-16 00:30:50
2339,666049248165822465,109,40,6629803,132918,2015-11-16 00:24:50
2340,666044226329800704,301,141,6629803,132918,2015-11-16 00:04:52
2341,666033412701032449,125,44,6629803,132918,2015-11-15 23:21:54
2342,666029285002620928,131,47,6629803,132918,2015-11-15 23:05:30
2343,666020888022790149,2561,520,6629803,132918,2015-11-15 22:32:08
2332,666071193221509120,148,62,6629802,132918,2015-11-16 01:52:02
2333,666063827256086533,480,223,6629802,132918,2015-11-16 01:22:45
2334,666058600524156928,113,58,6629802,132918,2015-11-16 01:01:59

In [49]:
# maximum retweets 
tweet_json.nlargest(10, ['retweets'])

,tweet_id,favorites,retweets,user_followers,user_favourites,date_time
1028,744234799360020481,128704,77689,6629469,132918,2016-06-18 18:26:18
525,807106840509214720,123429,61405,6629327,132918,2016-12-09 06:17:20
807,770743923962707968,0,51123,6629357,132918,2016-08-30 22:04:05
1068,739238157791694849,73632,51123,6629474,132918,2016-06-04 23:31:25
404,822872901745569793,143885,49372,6629319,132918,2017-01-21 18:26:02
65,879415818425184262,106309,44810,6629278,132918,2017-06-26 19:07:24
437,819015337530290176,0,41172,6629321,132918,2017-01-11 02:57:27
440,819004803107983360,93982,41172,6629321,132918,2017-01-11 02:15:36
528,806629075125202948,82509,39649,6629327,132918,2016-12-07 22:38:52
131,866450705531457537,124657,36663,6629288,132918,2017-05-22 00:28:40

In [50]:
tweet_json.shape

(2344, 6)

In [51]:
tweet_json.columns[tweet_json.isnull().any()]

Index([], dtype='object')

In [52]:
tweet_json['tweet_id'].value_counts()

749075273010798592    1
741099773336379392    1
798644042770751489    1
825120256414846976    1
769212283578875904    1
700462010979500032    1
780858289093574656    1
699775878809702401    1
880095782870896641    1
760521673607086080    1
776477788987613185    1
691820333922455552    1
715696743237730304    1
714606013974974464    1
760539183865880579    1
813157409116065792    1
676430933382295552    1
743510151680958465    1
833722901757046785    1
805487436403003392    1
759923798737051648    1
674742531037511680    1
670704688707301377    1
667160273090932737    1
674394782723014656    1
672082170312290304    1
670093938074779648    1
818259473185828864    1
842765311967449089    1
809920764300447744    1
                     ..
870308999962521604    1
720775346191278080    1
879492040517615616    1
775733305207554048    1
667911425562669056    1
834209720923721728    1
825026590719483904    1
758405701903519748    1
668986018524233728    1
690938899477221376    1
678800283649069056    1
857062103051644929    1
783347506784731136    1
672068090318987265    1
773922284943896577    1
816829038950027264    1
683773439333797890    1
674291837063053312    1
837482249356513284    1
767500508068192258    1
669015743032369152    1
886054160059072513    1
754482103782404096    1
748307329658011649    1
715360349751484417    1
666817836334096384    1
794926597468000259    1
673705679337693185    1
673342308415348736    1
700151421916807169    1
Name: tweet_id, Length: 2344, dtype: int64

## Assess : ##

This section will go over the following:
- Quality Issues
- Tidiness Issues
<a id='qual'></a>

### Quality Issues ###

### Twitter_Archive: ###
- there are missing value in following columns : 'in_reply_to_status_id', 'in_reply_to_user_id', 'retweeted_status_id','retweeted_status_user_id', 'retweeted_status_timestamp','expanded_urls'
- name with 745 missing value as None(not Nan)
- some name are invalid or false as just 'a'
- some expanded_urls tweets or retweets are without images
- tweet_id is int64 type as it should be object type as no calucation is needed
- timestamp and retweet_status_timestamp is also object type
- having retweets might bring duplicates.
- max rating_numerator is 1776


### Images_Prediction: ###
- tweet_id is int64 type as it should be object type as no calucation is needed
- p1,p2,p3 columns dog breeds are not consistently with case sensitive(lower or uppercase)
- 66 jpg_url duplicates 
- Delete useless columns

### tweet_data(JSON) : ###
- tweet_id is int64 type as it should be object type as no calucation is needed

<a id='tid'></a>
### Tidiness Issues : ###


_Issues_ :
- Twitter_Archive, Images_Predictions, Tweet_json : Join all three dataset into one main dataset
- Twitter_Archive : contains four column(dogger, floofer, pupper and puppo) needs to make it into one
- Twitter_Archive : All Prediction columns must be packed into one single columns
- Twitter_Archive : packing applies to Prediction_confidence too
- Change tweet_id int64 type to object type

In [53]:
# creating copy of dataset
twitter_1 = tweet_json.copy()
twitter_2 = twitter_archive.copy()
images_clean = images_predictions.copy()

<a id='clean'></a>
## Cleaning Data: ##
## _Merge all dataframes_ ##
### _Define:_ ###
- adding tweet_data and image to twitter_archive table.

### _Code:_ ###

In [54]:
# Merging datasets 
twitter_archive_clean = pd.merge(left=twitter_2,
                                 right=twitter_1, left_on='tweet_id', right_on='tweet_id', how='inner')

In [55]:
twitter_archive_clean = twitter_archive_clean.merge(images_clean, on='tweet_id', how='inner')

## **Test** ##

In [56]:
# looking into info
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2068 entries, 0 to 2067
Data columns (total 33 columns):
tweet_id                      2068 non-null int64
in_reply_to_status_id         23 non-null float64
in_reply_to_user_id           23 non-null float64
timestamp                     2068 non-null object
source                        2068 non-null object
text                          2068 non-null object
retweeted_status_id           75 non-null float64
retweeted_status_user_id      75 non-null float64
retweeted_status_timestamp    75 non-null object
expanded_urls                 2068 non-null object
rating_numerator              2068 non-null int64
rating_denominator            2068 non-null int64
name                          2068 non-null object
doggo                         2068 non-null object
floofer                       2068 non-null object
pupper                        2068 non-null object
puppo                         2068 non-null object
favorites                     2068 non-null int64
retweets                      2068 non-null int64
user_followers                2068 non-null int64
user_favourites               2068 non-null int64
date_time                     2068 non-null object
jpg_url                       2068 non-null object
img_num                       2068 non-null int64
p1                            2068 non-null object
p1_conf                       2068 non-null float64
p1_dog                        2068 non-null bool
p2                            2068 non-null object
p2_conf                       2068 non-null float64
p2_dog                        2068 non-null bool
p3                            2068 non-null object
p3_conf                       2068 non-null float64
p3_dog                        2068 non-null bool
dtypes: bool(3), float64(7), int64(8), object(15)
memory usage: 506.9+ KB

## _Define_ : ##
- all this columns 'doggo', 'floofer', 'pupper' and 'puppo' melts into one column 'dog_stage'.

## _Code_ : ##

In [57]:
#looking at the four columns
twitter_archive_clean.groupby(["doggo", "floofer", "pupper", "puppo"]).size().reset_index().rename(columns={0: "count"})

   doggo  floofer  pupper  puppo  count
0   None     None    None   None   1747
1   None     None    None  puppo     23
2   None     None  pupper   None    211
3   None  floofer    None   None      7
4  doggo     None    None   None     67
5  doggo     None    None  puppo      1
6  doggo     None  pupper   None     11
7  doggo  floofer    None   None      1

In [58]:
# replacing all None to ""
twitter_archive_clean.doggo.replace('None', '', inplace=True)
twitter_archive_clean.floofer.replace('None', '', inplace=True)
twitter_archive_clean.pupper.replace('None', '', inplace=True)
twitter_archive_clean.puppo.replace('None', '', inplace=True)

In [59]:
#replaining all Nan to ""
twitter_archive_clean.doggo.replace(np.NaN, '', inplace=True)
twitter_archive_clean.floofer.replace(np.NaN, '', inplace=True)
twitter_archive_clean.pupper.replace(np.NaN, '', inplace=True)
twitter_archive_clean.puppo.replace(np.NaN, '', inplace=True)

In [62]:
# Creating stage column and since Doggo is biggest stages among all so i have all dogs with two stages to doggo
twitter_archive_clean['dog_stage'] = twitter_archive_clean.doggo + twitter_archive_clean.floofer + twitter_archive_clean.pupper + twitter_archive_clean.puppo
twitter_archive_clean.loc[twitter_archive_clean.dog_stage == 'doggopupper', 'dog_stage'] = 'doggo'
twitter_archive_clean.loc[twitter_archive_clean.dog_stage == 'doggopuppo', 'dog_stage'] = 'doggo'
twitter_archive_clean.loc[twitter_archive_clean.dog_stage == 'doggofloofer', 'dog_stage'] = 'doggo'

## **Test**##

In [65]:
# dog_stage value_counts to different stages
print(twitter_archive_clean.dog_stage.value_counts())
# total stages
print(len(twitter_archive_clean))

           1747
pupper      211
doggo        80
puppo        23
floofer       7
Name: dog_stage, dtype: int64
2068

## _Define_ : ##
- replace name that are likely not real such as 'a', 'an'

## _Code_ : ##

In [66]:
# Remove all invalid name
dogsname = ['None', 'a', 'the', 'an', 'this', 'such', 'quite', 'not', 'one', 'incredibly', 'mad', 'very', 'just', 'my']

for word in dogsname:
    twitter_archive_clean.loc[twitter_archive_clean.name == word, 'name'] = None

## Test

In [67]:
# printing name value_counts
twitter_archive_clean.name.value_counts()

Charlie       11
Penny         10
Tucker        10
Cooper        10
Lucy          10
Oliver        10
Lola           8
Winston        8
Bo             8
Sadie          8
Toby           7
Daisy          7
Stanley        6
Jax            6
Dave           6
Bailey         6
Rusty          6
Koda           6
Bella          6
Scout          6
Milo           6
Alfie          5
Buddy          5
Larry          5
Louis          5
Leo            5
Chester        5
Oscar          5
Dexter         4
Ruby           4
              ..
Aubie          1
Cermet         1
Blakely        1
William        1
Ben            1
Chesterson     1
Daniel         1
Henry          1
Stefan         1
Charl          1
Finnegus       1
Eugene         1
Burt           1
Hamrick        1
Randall        1
Craig          1
Brandonald     1
Ralpher        1
Jeffrie        1
Carly          1
Lilli          1
Mauve          1
Jo             1
Bradley        1
Mitch          1
Dante          1
Simba          1
Harrison       1
Lorelei        1
Cedrick        1
Name: name, Length: 923, dtype: int64

## _Define_ : ##
- Creating Breed column using predictions

## _Code_ : ##

In [68]:
# Creating Breed column using P1, P2, P3 predictions
breed = []
confidence= []

def breed_type(row):
    if row['p1_dog']:
        breed.append(row['p1'])
        confidence.append(row['p1_conf'])
    elif row['p2_dog']:
        breed.append(row['p2'])
        confidence.append(row['p2_conf'])
    elif row['p3_dog']:
        breed.append(row['p3'])
        confidence.append(row['p3_conf'])
    else:
        breed.append('Unidentifiable')
        confidence.append(0)

twitter_archive_clean.apply(breed_type, axis = 1)
# adding bread and confidence along
twitter_archive_clean['breed'] = breed
twitter_archive_clean['confidence'] = confidence

## _Define_ : ##
- Clean rows and columns that we dont need

## _Code_ : ##

In [69]:
# Delete the retweets_status_id null
twitter_archive_clean = twitter_archive_clean[pd.isnull(twitter_archive_clean.retweeted_status_id)]

# Delete duplicated tweet_id
twitter_archive_clean = twitter_archive_clean.drop_duplicates()

# Delete tweets with no pictures
twitter_archive_clean = twitter_archive_clean.dropna(subset = ['jpg_url'])

# small test
len(twitter_archive_clean)

1993

In [70]:
# Checking info of data (changes)
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1993 entries, 0 to 2067
Data columns (total 36 columns):
tweet_id                      1993 non-null int64
in_reply_to_status_id         23 non-null float64
in_reply_to_user_id           23 non-null float64
timestamp                     1993 non-null object
source                        1993 non-null object
text                          1993 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null object
expanded_urls                 1993 non-null object
rating_numerator              1993 non-null int64
rating_denominator            1993 non-null int64
name                          1361 non-null object
doggo                         1993 non-null object
floofer                       1993 non-null object
pupper                        1993 non-null object
puppo                         1993 non-null object
favorites                     1993 non-null int64
retweets                      1993 non-null int64
user_followers                1993 non-null int64
user_favourites               1993 non-null int64
date_time                     1993 non-null object
jpg_url                       1993 non-null object
img_num                       1993 non-null int64
p1                            1993 non-null object
p1_conf                       1993 non-null float64
p1_dog                        1993 non-null bool
p2                            1993 non-null object
p2_conf                       1993 non-null float64
p2_dog                        1993 non-null bool
p3                            1993 non-null object
p3_conf                       1993 non-null float64
p3_dog                        1993 non-null bool
dog_stage                     1993 non-null object
breed                         1993 non-null object
confidence                    1993 non-null float64
dtypes: bool(3), float64(8), int64(8), object(17)
memory usage: 535.2+ KB

In [71]:
# delete not useful columns
twitter_archive_clean.drop(['in_reply_to_status_id','in_reply_to_user_id','retweeted_status_id','retweeted_status_user_id','retweeted_status_timestamp','p1_conf','p1_dog', 'p2_conf','p2_dog', 'p3_conf','p3_dog'], axis=1, inplace=True)

In [72]:
# Delete column date_time 
twitter_archive_clean = twitter_archive_clean.drop('date_time', 1)

# small test
list(twitter_archive_clean)

['tweet_id',
 'timestamp',
 'source',
 'text',
 'expanded_urls',
 'rating_numerator',
 'rating_denominator',
 'name',
 'doggo',
 'floofer',
 'pupper',
 'puppo',
 'favorites',
 'retweets',
 'user_followers',
 'user_favourites',
 'jpg_url',
 'img_num',
 'p1',
 'p2',
 'p3',
 'dog_stage',
 'breed',
 'confidence']

In [73]:
#Delete dog_stage duplicates
twitter_archive_clean = twitter_archive_clean.sort_values('dog_stage').drop_duplicates('tweet_id', keep = 'last')

## **Test** ##

In [74]:
print(twitter_archive_clean.dog_stage.value_counts())
print(len(twitter_archive_clean))

           1687
pupper      203
doggo        74
puppo        22
floofer       7
Name: dog_stage, dtype: int64
1993

## Define :
- Clean the source in dataset

## Code :

In [75]:
# Clean the content of source column
twitter_archive_clean['source'] = twitter_archive_clean['source'].apply(lambda x: re.findall(r'>(.*)<', x)[0])

In [76]:
# Test
twitter_archive_clean

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,...,user_followers,user_favourites,jpg_url,img_num,p1,p2,p3,dog_stage,breed,confidence
0,892420643555336193,2017-08-01 16:23:56 +0000,Twitter for iPhone,This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,,,...,6629272,132918,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,bagel,banana,,Unidentifiable,0.000000
1382,683857920510050305,2016-01-04 03:50:08 +0000,Twitter for iPhone,Meet Sadie. She fell asleep on the beach and h...,https://twitter.com/dog_rates/status/683857920...,10,10,Sadie,,,...,6629636,132918,https://pbs.twimg.com/media/CX2NJmRWYAAxz_5.jpg,1,bluetick,Shetland_sheepdog,beagle,,bluetick,0.174738
1381,684097758874210310,2016-01-04 19:43:10 +0000,Twitter for iPhone,Say hello to Lupe. This is how she sleeps. 10/...,https://twitter.com/dog_rates/status/684097758...,10,10,Lupe,,,...,6629636,132918,https://pbs.twimg.com/media/CX5nR5oWsAAiclh.jpg,1,Labrador_retriever,German_short-haired_pointer,Chesapeake_Bay_retriever,,Labrador_retriever,0.627856
1380,684122891630342144,2016-01-04 21:23:02 +0000,Twitter for iPhone,Heartwarming scene of two pups that want nothi...,https://twitter.com/dog_rates/status/684122891...,11,10,None,,,...,6629635,132918,https://pbs.twimg.com/media/CX5-HslWQAIiXKB.jpg,1,cheetah,Arabian_camel,jaguar,,Unidentifiable,0.000000
1379,684177701129875456,2016-01-05 01:00:50 +0000,Twitter for iPhone,This is Kulet. She's very proud of the flower ...,https://twitter.com/dog_rates/status/684177701...,10,10,Kulet,,,...,6629635,132918,https://pbs.twimg.com/media/CX6v_JOWsAE0beZ.jpg,1,chow,German_shepherd,golden_retriever,,chow,0.334783
1378,684188786104872960,2016-01-05 01:44:52 +0000,Twitter for iPhone,"""Yo Boomer I'm taking a selfie, grab your stic...",https://twitter.com/dog_rates/status/684188786...,10,10,None,,,...,6629633,132918,https://pbs.twimg.com/media/CX66EiJWkAAVjA-.jpg,1,kelpie,American_Staffordshire_terrier,Staffordshire_bullterrier,,kelpie,0.537782
1377,684195085588783105,2016-01-05 02:09:54 +0000,Twitter for iPhone,This is Tino. He really likes corndogs. 9/10 h...,https://twitter.com/dog_rates/status/684195085...,9,10,Tino,,,...,6629631,132918,https://pbs.twimg.com/media/CX6_y6OU0AAl3v2.jpg,1,Chihuahua,toy_terrier,Boston_bull,,Chihuahua,0.379365
1376,684200372118904832,2016-01-05 02:30:55 +0000,Twitter for iPhone,Gang of fearless hoofed puppers here. Straight...,https://twitter.com/dog_rates/status/684200372...,6,10,None,,,...,6629628,132918,https://pbs.twimg.com/media/CX7EkuHWkAESLZk.jpg,1,llama,ram,hog,,Unidentifiable,0.000000
1375,684222868335505415,2016-01-05 04:00:18 +0000,Twitter for iPhone,Someone help the girl is being mugged. Several...,https://twitter.com/dog_rates/status/684222868...,121,110,None,,,...,6629628,132918,https://pbs.twimg.com/media/CX7Y_ByWwAEJdUy.jpg,1,soft-coated_wheaten_terrier,cocker_spaniel,teddy,,soft-coated_wheaten_terrier,0.791182
1374,684225744407494656,2016-01-05 04:11:44 +0000,Twitter for iPhone,"Two sneaky puppers were not initially seen, mo...",https://twitter.com/dog_rates/status/684225744...,143,130,None,,,...,6629628,132918,https://pbs.twimg.com/media/CX7br3HWsAAQ9L1.jpg,2,golden_retriever,Samoyed,Great_Pyrenees,,golden_retriever,0.203249
1373,684241637099323392,2016-01-05 05:14:53 +0000,Twitter for iPhone,This is Obi. He got camera shy. 12/10 https://...,https://twitter.com/dog_rates/status/684241637...,12,10,Obi,,,...,6629628,132918,https://pbs.twimg.com/media/CX7qIcdWcAELJ7N.jpg,1,Pembroke,black-footed_ferret,weasel,,Pembroke,0.508498
1372,684460069371654144,2016-01-05 19:42:51 +0000,Twitter for iPhone,This is Jeph. He's a Western Sagittarius Dookm...,https://twitter.com/dog_rates/status/684460069...,10,10,Jeph,,,...,6629627,132918,https://pbs.twimg.com/media/CX-wzZEUwAA4ISM.jpg,1,Labrador_retriever,Chesapeake_Bay_retriever,American_Staffordshire_terrier,,Labrador_retriever,0.673691
1371,684481074559381504,2016-01-05 21:06:19 +0000,Twitter for iPhone,Meet Pippa. She's an Elfin High Feta. Compact ...,https://twitter.com/dog_rates/status/684481074...,10,10,Pippa,,,...,6629626,132918,https://pbs.twimg.com/media/CX_D6AJWwAAnBIw.jpg,1,Chihuahua,Pomeranian,polecat,,Chihuahua,0.937810
1370,684538444857667585,2016-01-06 00:54:18 +0000,Twitter for iPhone,"After watching this video, we've determined th...",https://twitter.com/dog_rates/status/684538444...,12,10,None,,,...,6629625,132918,https://pbs.twimg.com/ext_tw_video_thumb/68453...,1,Chihuahua,Siamese_cat,macaque,,Chihuahua,0.702583
1369,684567543613382656,2016-01-06 02:49:55 +0000,Twitter for iPhone,This is Bobby. He doesn't give a damn about pe...,https://twitter.com/dog_rates/status/684567543...,4,10,Bobby,,,...,6629625,132918,https://pbs.twimg.com/media/CYASi6FWQAEQMW2.jpg,1,minibus,llama,seat_belt,,Unidentifiable,0.000000
1368,684594889858887680,2016-01-06 04:38:35 +0000,Twitter for iPhone,"""FOR THE LAST TIME I DON'T WANNA PLAY TWISTER ...",https://twitter.com/dog_rates/status/684594889...,10,10,None,,,...,6629623,132918,https://pbs.twimg.com/media/CYAra7JWsAACPZH.jpg,1,Weimaraner,English_setter,Brittany_spaniel,,Weimaraner,0.948688
1367,684800227459624960,2016-01-06 18:14:31 +0000,Twitter for iPhone,Meet Theodore. He's dapper as hell. Probably o...,https://twitter.com/dog_rates/status/684800227...,11,10,Theodore,,,...,6629623,132918,https://pbs.twimg.com/media/CYDmK7ZVAAI_ylL.jpg,1,miniature_schnauzer,Norfolk_terrier,West_Highland_white_terrier,,miniature_schnauzer,0.294457
1365,684902183876321280,2016-01-07 00:59:40 +0000,Twitter for iPhone,This is Perry. He's an Augustus Gloopster. Ver...,https://twitter.com/dog_rates/status/684902183...,11,10,Perry,,,...,6629622,132918,https://pbs.twimg.com/media/CYFC5lmWAAAEIho.jpg,1,Pembroke,Cardigan,dingo,,Pembroke,0.708034
1364,684914660081053696,2016-01-07 01:49:14 +0000,Twitter for iPhone,"""Hello yes I'll just get one of each color tha...",https://twitter.com/dog_rates/status/684914660...,12,10,None,,,...,6629622,132918,https://pbs.twimg.com/media/CYFOP6cWEAAWp-k.jpg,1,shopping_cart,chow,Labrador_retriever,,chow,0.261288
1363,684926975086034944,2016-01-07 02:38:10 +0000,Twitter for iPhone,Meet Bruiser &amp; Charlie. They are the best ...,https://twitter.com/dog_rates/status/684926975...,11,10,Bruiser,,,...,6629622,132918,https://pbs.twimg.com/media/CYFZXdiU0AAc_kw.jpg,1,Labrador_retriever,golden_retriever,lion,,Labrador_retriever,0.769412
1362,684940049151070208,2016-01-07 03:30:07 +0000,Twitter for iPhone,This is Oreo. She's a photographer and a model...,https://twitter.com/dog_rates/status/684940049...,12,10,Oreo,,,...,6629622,132918,https://pbs.twimg.com/media/CYFlVUFWwAAEsWX.jpg,2,Border_collie,collie,Old_English_sheepdog,,Border_collie,0.665578
1361,684959798585110529,2016-01-07 04:48:36 +0000,Twitter for iPhone,This is Jerry. He's a neat dog. No legs (tragi...,https://twitter.com/dog_rates/status/684959798...,5,10,Jerry,,,...,6629622,132918,https://pbs.twimg.com/media/CYF3TSlWMAAaoG5.jpg,1,llama,triceratops,hog,,Unidentifiable,0.000000
1359,685198997565345792,2016-01-07 20:39:06 +0000,Twitter for iPhone,This is Alfie. That is his time machine. He's ...,https://twitter.com/dog_rates/status/685198997...,11,10,Alfie,,,...,6629621,132918,https://pbs.twimg.com/media/CYJQxvJW8AAkkws.jpg,1,dishwasher,stove,Old_English_sheepdog,,Old_English_sheepdog,0.009671
1356,685315239903100929,2016-01-08 04:21:00 +0000,Twitter for iPhone,I would like everyone to appreciate this pup's...,https://twitter.com/dog_rates/status/685315239...,11,10,None,,,...,6629621,132918,https://pbs.twimg.com/media/CYK6kf0WMAAzP-0.jpg,2,chow,Pomeranian,Eskimo_dog,,chow,0.470162
1355,685321586178670592,2016-01-08 04:46:13 +0000,Twitter for iPhone,This is Rocky. He sleeps like a psychopath. 10...,https://twitter.com/dog_rates/status/685321586...,10,10,Rocky,,,...,6629621,132918,https://pbs.twimg.com/media/CYLAWFMWMAEcRzb.jpg,1,Boston_bull,French_bulldog,boxer,,Boston_bull,0.972483
1354,685325112850124800,2016-01-08 05:00:14 +0000,Twitter for iPhone,"""Tristan do not speak to me with that kind of ...",https://twitter.com/dog_rates/status/685325112...,10,10,None,,,...,6629621,132918,https://pbs.twimg.com/media/CYLDikFWEAAIy1y.jpg,1,golden_retriever,Labrador_retriever,kuvasz,,golden_retriever,0.586937
1383,683852578183077888,2016-01-04 03:28:54 +0000,Twitter for iPhone,Say hello to Tiger. He's a penbroke (little do...,https://twitter.com/dog_rates/status/683852578...,10,10,Tiger,,,...,6629636,132918,https://pbs.twimg.com/media/CX2ISqSWYAAEtCF.jpg,1,toy_poodle,teddy,miniature_poodle,,toy_poodle,0.551352
1353,685532292383666176,2016-01-08 18:43:29 +0000,Twitter for iPhone,"For the last time, WE. DO. NOT. RATE. BULBASAU...",https://twitter.com/dog_rates/status/685532292...,9,10,None,,,...,6629621,132918,https://pbs.twimg.com/media/CYN_-6iW8AQhPu2.jpg,1,white_wolf,dingo,collie,,collie,0.095805
1384,683849932751646720,2016-01-04 03:18:23 +0000,Twitter for iPhone,This is Jiminy. He's not the brightest dog. Ne...,https://twitter.com/dog_rates/status/683849932...,5,10,Jiminy,,,...,6629636,132918,https://pbs.twimg.com/media/CX2F4qNUQAAR6Cm.jpg,1,hog,Mexican_hairless,wild_boar,,Mexican_hairless,0.164906
1388,683742671509258241,2016-01-03 20:12:10 +0000,Twitter for iPhone,Meet Sebastian. He's a womanizer. Romantic af....,https://twitter.com/dog_rates/status/683742671...,11,10,Sebastian,,,...,6629636,132918,https://pbs.twimg.com/media/CX0kVRxWYAAWWZi.jpg,1,Pembroke,Cardigan,cocker_spaniel,,Pembroke,0.895279
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
750,755955933503782912,2016-07-21 02:41:54 +0000,Twitter for iPhone,Here's a frustrated pupper attempting to escap...,https://twitter.com/dog_rates/status/755955933...,12,10,None,,,...,6629444,132918,https://pbs.twimg.com/ext_tw_video_thumb/75595...,1,Pekinese,Maltese_dog,Great_Pyrenees,pupper,Pekinese,0.596882
1712,672594978741354496,2015-12-04 01:55:13 +0000,Twitter for iPhone,Meet Scott. Just trying to catch his train to ...,https://twitter.com/dog_rates/status/672594978...,9,10,Scott,,,...,6629692,132918,https://pbs.twimg.com/media/CVWJkJXWsAInlZl.jpg,1,Great_Pyrenees,Old_English_sheepdog,Afghan_hound,pupper,Great_Pyrenees,0.755945
330,822462944365645825,2017-01-20 15:17:01 +0000,Twitter for iPhone,This is Gabe. He was the unequivocal embodimen...,https://twitter.com/dog_rates/status/822462944...,14,10,Gabe,,,...,6629319,132918,https://pbs.twimg.com/media/C2n5rUUXEAIXAtv.jpg,3,Pomeranian,Samoyed,Maltese_dog,pupper,Pomeranian,0.960199
1288,689905486972461056,2016-01-20 20:21:00 +0000,Twitter for iPhone,Say hello to Gizmo. He's quite the pupper. Con...,https://twitter.com/dog_rates/status/689905486...,11,10,Gizmo,,,...,6629593,132918,https://pbs.twimg.com/media/CZMJYCRVAAE35Wk.jpg,4,Pomeranian,Shetland_sheepdog,chow,pupper,Pomeranian,0.943331
1732,672205392827572224,2015-12-03 00:07:09 +0000,Twitter for iPhone,This is Opal. He's a Royal John Coctostan. Rea...,https://twitter.com/dog_rates/status/672205392...,9,10,Opal,,,...,6629714,132918,https://pbs.twimg.com/media/CVQnPMrVAAAzShR.jpg,1,carton,crate,pug,pupper,pug,0.003267
1284,690015576308211712,2016-01-21 03:38:27 +0000,Twitter for iPhone,This pupper can only sleep on shoes. It's a cr...,https://twitter.com/dog_rates/status/690015576...,12,10,None,,,...,6629592,132918,https://pbs.twimg.com/media/CZNtgWhWkAAbq3W.jpg,2,malamute,Siberian_husky,Eskimo_dog,pupper,malamute,0.949609
1719,672481316919734272,2015-12-03 18:23:34 +0000,Twitter for iPhone,Say hello to Jazz. She should be on the cover ...,https://twitter.com/dog_rates/status/672481316...,12,10,Jazz,,,...,6629701,132918,https://pbs.twimg.com/media/CVUiMUeW4AEQgkU.jpg,1,Border_collie,collie,Shetland_sheepdog,pupper,Border_collie,0.599454
1734,672160042234327040,2015-12-02 21:06:56 +0000,Twitter for iPhone,This is Bubba. He's a Titted Peebles Aorta. Ev...,https://twitter.com/dog_rates/status/672160042...,8,10,Bubba,,,...,6629716,132918,https://pbs.twimg.com/media/CVP9_beUEAAwURR.jpg,1,pug,French_bulldog,Labrador_retriever,pupper,pug,0.561027
843,744995568523612160,2016-06-20 20:49:19 +0000,Twitter for iPhone,This is Abby. She got her face stuck in a glas...,https://twitter.com/dog_rates/status/744995568...,9,10,Abby,,,...,6629469,132918,https://pbs.twimg.com/media/ClbBg4WWEAMjwJu.jpg,1,Old_English_sheepdog,Shih-Tzu,Tibetan_terrier,puppo,Old_English_sheepdog,0.427481
854,743253157753532416,2016-06-16 01:25:36 +0000,Twitter for iPhone,This is Kilo. He cannot reach the snackum. Nif...,https://twitter.com/dog_rates/status/743253157...,10,10,Kilo,,,...,6629471,132918,https://pbs.twimg.com/media/ClCQzFUUYAA5vAu.jpg,1,malamute,Siberian_husky,Eskimo_dog,puppo,malamute,0.442612
549,787717603741622272,2016-10-16 18:11:26 +0000,Twitter for iPhone,This is Tonks. She is a service puppo. Can hea...,https://twitter.com/dog_rates/status/787717603...,13,10,Tonks,,,...,6629346,132918,https://pbs.twimg.com/media/Cu6I9vvWIAAZG0a.jpg,3,German_shepherd,malinois,kelpie,puppo,German_shepherd,0.992339
313,825026590719483904,2017-01-27 17:04:02 +0000,Twitter for iPhone,Say hello to Pablo. He's one gorgeous puppo. A...,https://www.gofundme.com/my-puppys-double-cata...,12,10,Pablo,,,...,6629316,132918,https://pbs.twimg.com/media/C3MVTeHWcAAGNfx.jpg,2,Eskimo_dog,Siberian_husky,malamute,puppo,Eskimo_dog,0.524454
769,752519690950500352,2016-07-11 15:07:30 +0000,Twitter for iPhone,Hopefully this puppo on a swing will help get ...,https://twitter.com/dog_rates/status/752519690...,11,10,None,,,...,6629449,132918,https://pbs.twimg.com/media/CnF8qVDWYAAh0g1.jpg,3,swing,Labrador_retriever,Eskimo_dog,puppo,Labrador_retriever,0.000010
513,793195938047070209,2016-10-31 21:00:23 +0000,Twitter for iPhone,Say hello to Lily. She's pupset that her costu...,https://twitter.com/dog_rates/status/793195938...,12,10,Lily,,,...,6629337,132918,https://pbs.twimg.com/media/CwH_foYWgAEvTyI.jpg,2,Labrador_retriever,golden_retriever,Chihuahua,puppo,Labrador_retriever,0.654762
345,819952236453363712,2017-01-13 17:00:21 +0000,Twitter for iPhone,This is Oliver. He has dreams of being a servi...,"https://www.gofundme.com/servicedogoliver,http...",13,10,Oliver,,,...,6629321,132918,https://pbs.twimg.com/media/C2EONHNWQAUWxkP.jpg,1,American_Staffordshire_terrier,Staffordshire_bullterrier,Italian_greyhound,puppo,American_Staffordshire_terrier,0.925505
138,859607811541651456,2017-05-03 03:17:27 +0000,Twitter for iPhone,Sorry for the lack of posts today. I came home...,https://twitter.com/dog_rates/status/859607811...,13,10,None,,,...,6629293,132918,https://pbs.twimg.com/media/C-3wvtxXcAUTuBE.jpg,1,golden_retriever,Irish_setter,Labrador_retriever,puppo,golden_retriever,0.895529
587,780931614150983680,2016-09-28 00:46:20 +0000,Twitter for iPhone,I want to finally rate this iconic puppo who t...,https://twitter.com/dog_rates/status/780931614...,13,10,None,,,...,6629348,132918,https://pbs.twimg.com/media/CtZtJxAXEAAyPGd.jpg,1,padlock,necklace,chain,puppo,Unidentifiable,0.000000
14,889531135344209921,2017-07-24 17:02:04 +0000,Twitter for iPhone,This is Stuart. He's sporting his favorite fan...,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,,,...,6629272,132918,https://pbs.twimg.com/media/DFg_2PVW0AEHN3p.jpg,1,golden_retriever,Labrador_retriever,redbone,puppo,golden_retriever,0.953442
885,738537504001953792,2016-06-03 01:07:16 +0000,Twitter for iPhone,This is Bayley. She fell asleep trying to esca...,https://twitter.com/dog_rates/status/738537504...,11,10,Bayley,,,...,6629473,132918,https://pbs.twimg.com/media/Cj_P7rSUgAAYQbz.jpg,1,chow,gibbon,Pembroke,puppo,chow,0.808737
107,867421006826221569,2017-05-24 16:44:18 +0000,Twitter for iPhone,This is Shikha. She just watched you drop a sk...,https://twitter.com/dog_rates/status/867421006...,12,10,Shikha,,,...,6629287,132918,https://pbs.twimg.com/media/DAmyy8FXYAIH8Ty.jpg,1,Eskimo_dog,Siberian_husky,malamute,puppo,Eskimo_dog,0.616457
311,825535076884762624,2017-01-29 02:44:34 +0000,Twitter for iPhone,Here's a very loving and accepting puppo. Appe...,https://twitter.com/dog_rates/status/825535076...,14,10,None,,,...,6629315,132918,https://pbs.twimg.com/media/C3TjvitXAAAI-QH.jpg,1,Rottweiler,Tibetan_mastiff,black-and-tan_coonhound,puppo,Rottweiler,0.681495
80,874012996292530176,2017-06-11 21:18:31 +0000,Twitter for iPhone,This is Sebastian. He can't see all the colors...,https://twitter.com/dog_rates/status/874012996...,13,10,Sebastian,,,...,6629281,132918,https://pbs.twimg.com/media/DCEeLxjXsAAvNSM.jpg,2,Cardigan,Pembroke,kelpie,puppo,Cardigan,0.806674
529,790946055508652032,2016-10-25 16:00:09 +0000,Twitter for iPhone,This is Betty. She's assisting with the dishes...,https://twitter.com/dog_rates/status/790946055...,12,10,Betty,,,...,6629342,132918,https://pbs.twimg.com/media/CvoBPWRWgAA4het.jpg,1,dishwasher,golden_retriever,chow,puppo,golden_retriever,0.245773
444,803773340896923648,2016-11-30 01:31:12 +0000,Twitter for iPhone,This is Diogi. He fell in the pool as soon as ...,https://twitter.com/dog_rates/status/803773340...,12,10,Diogi,,,...,6629327,132918,https://pbs.twimg.com/media/CyeTku-XcAALkBd.jpg,2,miniature_pinscher,redbone,Irish_terrier,puppo,miniature_pinscher,0.817066
63,878776093423087618,2017-06-25 00:45:22 +0000,Twitter for iPhone,This is Snoopy. He's a proud #PrideMonthPuppo....,https://twitter.com/dog_rates/status/878776093...,13,10,Snoopy,,,...,6629278,132918,https://pbs.twimg.com/media/DDIKMXzW0AEibje.jpg,2,Italian_greyhound,whippet,Ibizan_hound,puppo,Italian_greyhound,0.734684
325,822872901745569793,2017-01-21 18:26:02 +0000,Twitter for iPhone,Here's a super supportive puppo participating ...,https://twitter.com/dog_rates/status/822872901...,13,10,None,,,...,6629319,132918,https://pbs.twimg.com/media/C2tugXLXgAArJO4.jpg,1,Lakeland_terrier,Labrador_retriever,Irish_terrier,puppo,Lakeland_terrier,0.196015
749,756275833623502848,2016-07-21 23:53:04 +0000,Twitter for iPhone,When ur older siblings get to play in the deep...,https://twitter.com/dog_rates/status/756275833...,10,10,None,,,...,6629444,132918,https://pbs.twimg.com/media/Cn7U2xlW8AI9Pqp.jpg,1,Airedale,Irish_terrier,bloodhound,puppo,Airedale,0.602957
454,802239329049477120,2016-11-25 19:55:35 +0000,Twitter for iPhone,This is Loki. He'll do your taxes for you. Can...,https://twitter.com/dog_rates/status/802239329...,12,10,Loki,,,...,6629330,132918,https://pbs.twimg.com/media/CyIgaTEVEAA-9zS.jpg,2,Eskimo_dog,Siberian_husky,malamute,puppo,Eskimo_dog,0.482498
12,889665388333682689,2017-07-25 01:55:32 +0000,Twitter for iPhone,Here's a puppo that seems to be on the fence a...,https://twitter.com/dog_rates/status/889665388...,13,10,None,,,...,6629272,132918,https://pbs.twimg.com/media/DFi579UWsAAatzw.jpg,1,Pembroke,Cardigan,basenji,puppo,Pembroke,0.966327
781,751132876104687617,2016-07-07 19:16:47 +0000,Twitter for iPhone,This is Cooper. He's just so damn happy. 10/10...,https://twitter.com/dog_rates/status/751132876...,10,10,Cooper,,,...,6629461,132918,https://pbs.twimg.com/media/CmyPXNOW8AEtaJ-.jpg,1,Labrador_retriever,Chesapeake_Bay_retriever,golden_retriever,puppo,Labrador_retriever,0.929390

## _Define_ : ##
- Creating numerator and denominators in one column

## _Code_ : ##

In [77]:
# Creating rating df  
rating = twitter_archive_clean.text.str.extract('(\d+(\.\d+)*\/\d+)')

In [78]:
twitter_archive_clean['rating'] = rating[0]

## Test :

In [79]:
#looking the sampling distribution of df
twitter_archive_clean.sample(5)

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,...,user_favourites,jpg_url,img_num,p1,p2,p3,dog_stage,breed,confidence,rating
915,732726085725589504,2016-05-18 00:14:46 +0000,Twitter for iPhone,This is Aldrick. He looks wise af. Also except...,https://twitter.com/dog_rates/status/732726085...,11,10,Aldrick,,,...,132918,https://pbs.twimg.com/media/CisqdVcXEAE3iW7.jpg,1,Pomeranian,Samoyed,chow,,Pomeranian,0.961902,11/10
454,802239329049477120,2016-11-25 19:55:35 +0000,Twitter for iPhone,This is Loki. He'll do your taxes for you. Can...,https://twitter.com/dog_rates/status/802239329...,12,10,Loki,,,...,132918,https://pbs.twimg.com/media/CyIgaTEVEAA-9zS.jpg,2,Eskimo_dog,Siberian_husky,malamute,puppo,Eskimo_dog,0.482498,12/10
148,857029823797047296,2017-04-26 00:33:27 +0000,Twitter for iPhone,This is Zeke. He performs group cheeky wink tu...,https://twitter.com/dog_rates/status/857029823...,12,10,Zeke,,,...,132918,https://pbs.twimg.com/media/C-TIEwMW0AEjb55.jpg,2,golden_retriever,Labrador_retriever,Saluki,,golden_retriever,0.968623,12/10
294,828372645993398273,2017-02-05 22:40:03 +0000,Twitter for iPhone,This is Alexander Hamilpup. He was one of the ...,https://twitter.com/dog_rates/status/828372645...,12,10,Alexander,,,...,132918,https://pbs.twimg.com/media/C374hb0WQAAIbQ-.jpg,1,malamute,Eskimo_dog,Tibetan_mastiff,,malamute,0.663047,12/10
1330,687109925361856513,2016-01-13 03:12:26 +0000,Twitter for iPhone,This is Baxter. He looks like a fun dog. Prefe...,https://twitter.com/dog_rates/status/687109925...,11,10,Baxter,,,...,132918,https://pbs.twimg.com/media/CYka1NTWMAAOclP.jpg,2,borzoi,whippet,Saluki,,borzoi,0.883086,11/10

## _Define_ : ##
- Drop numerator and denominator columns

## _Code_ : ##

In [80]:
# inverting rating_numerator and rating_denominator to one column
twitter_archive_clean.drop(['rating_numerator', 'rating_denominator'], axis=1, inplace=True)

## Test :

In [81]:
# checking the changes
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1993 entries, 0 to 781
Data columns (total 23 columns):
tweet_id           1993 non-null int64
timestamp          1993 non-null object
source             1993 non-null object
text               1993 non-null object
expanded_urls      1993 non-null object
name               1361 non-null object
doggo              1993 non-null object
floofer            1993 non-null object
pupper             1993 non-null object
puppo              1993 non-null object
favorites          1993 non-null int64
retweets           1993 non-null int64
user_followers     1993 non-null int64
user_favourites    1993 non-null int64
jpg_url            1993 non-null object
img_num            1993 non-null int64
p1                 1993 non-null object
p2                 1993 non-null object
p3                 1993 non-null object
dog_stage          1993 non-null object
breed              1993 non-null object
confidence         1993 non-null float64
rating             1993 non-null object
dtypes: float64(1), int64(6), object(16)
memory usage: 373.7+ KB

## _Define_ : ##
- Remove all tweets that don't include any image

## _Code_ : ##

In [82]:
#dropping all na in twitter_archive_clean
twitter_archive_clean = twitter_archive_clean.dropna(subset=['expanded_urls'])

## Test :

In [83]:
twitter_archive_clean['expanded_urls'].isnull().value_counts()

False    1993
Name: expanded_urls, dtype: int64

## _Define_ : ##
- Drop duplicate in jpg_url 

## _Code_ : ##

In [84]:
# dropping all 66 duplicate jpg_url
twitter_archive_clean['jpg_url'].drop_duplicates(keep = False, inplace = True)

## Test :

In [85]:
twitter_archive_clean[twitter_archive_clean['jpg_url'].duplicated(keep='first')]

Empty DataFrame
Columns: [tweet_id, timestamp, source, text, expanded_urls, name, doggo, floofer, pupper, puppo, favorites, retweets, user_followers, user_favourites, jpg_url, img_num, p1, p2, p3, dog_stage, breed, confidence, rating]
Index: []

[0 rows x 23 columns]

In [86]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1993 entries, 0 to 781
Data columns (total 23 columns):
tweet_id           1993 non-null int64
timestamp          1993 non-null object
source             1993 non-null object
text               1993 non-null object
expanded_urls      1993 non-null object
name               1361 non-null object
doggo              1993 non-null object
floofer            1993 non-null object
pupper             1993 non-null object
puppo              1993 non-null object
favorites          1993 non-null int64
retweets           1993 non-null int64
user_followers     1993 non-null int64
user_favourites    1993 non-null int64
jpg_url            1993 non-null object
img_num            1993 non-null int64
p1                 1993 non-null object
p2                 1993 non-null object
p3                 1993 non-null object
dog_stage          1993 non-null object
breed              1993 non-null object
confidence         1993 non-null float64
rating             1993 non-null object
dtypes: float64(1), int64(6), object(16)
memory usage: 373.7+ KB

## _Define_ : ##
- Extracting Dogs gender column from text column

## _Code_ : ##

In [87]:
# Loop on all the texts and check if it has one of pronouns of male or female
# and append the result in a list

male = ['He', 'he', 'him', 'his', "he's", 'himself']
female = ['She', 'she', 'her', 'hers', 'herself', "she's"]

dog_gender = []

for text in twitter_archive_clean['text']:
    # Male
    if any(map(lambda v:v in male, text.split())):
        dog_gender.append('male')
    # Female
    elif any(map(lambda v:v in female, text.split())):
        dog_gender.append('female')
    # If group or not specified
    else:
        dog_gender.append('NaN')

# Test
len(dog_gender)

# Save the result in a new column 'dog_name'
twitter_archive_clean['dog_gender'] = dog_gender

## **Test** ##

In [88]:
print("dog_gender count \n", twitter_archive_clean.dog_gender.value_counts())

dog_gender count
 NaN       1131
male       636
female     226
Name: dog_gender, dtype: int64

## _Define_ : ##
- Convert the null values to None type

## _Code_ : ##

In [89]:
# converting null values to none
twitter_archive_clean.loc[twitter_archive_clean['dog_gender'] == 'NaN', 'dog_gender'] = None

## **Test** ##

In [90]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1993 entries, 0 to 781
Data columns (total 24 columns):
tweet_id           1993 non-null int64
timestamp          1993 non-null object
source             1993 non-null object
text               1993 non-null object
expanded_urls      1993 non-null object
name               1361 non-null object
doggo              1993 non-null object
floofer            1993 non-null object
pupper             1993 non-null object
puppo              1993 non-null object
favorites          1993 non-null int64
retweets           1993 non-null int64
user_followers     1993 non-null int64
user_favourites    1993 non-null int64
jpg_url            1993 non-null object
img_num            1993 non-null int64
p1                 1993 non-null object
p2                 1993 non-null object
p3                 1993 non-null object
dog_stage          1993 non-null object
breed              1993 non-null object
confidence         1993 non-null float64
rating             1993 non-null object
dog_gender         862 non-null object
dtypes: float64(1), int64(6), object(17)
memory usage: 389.3+ KB

## _Define_ : ##
- Change to right datatypes

## _Code_ : ##

In [89]:
# Changing to right dtypes
twitter_archive_clean['tweet_id'] = twitter_archive_clean['tweet_id'].astype(str)
twitter_archive_clean['timestamp'] = pd.to_datetime(twitter_archive_clean.timestamp)
twitter_archive_clean['source'] = twitter_archive_clean['source'].astype('category')
twitter_archive_clean['favorites'] = twitter_archive_clean['favorites'].astype(int)
twitter_archive_clean['retweets'] = twitter_archive_clean['retweets'].astype(int)
twitter_archive_clean['dog_stage
twitter_archive_clean['user_followers'] = twitter_archive_clean['user_followers'].astype(int)
twitter_archive_clean['dog_gender'] = twitter_archive_clean['dog_gender'].astype('category')

In [90]:
# changing Unidentifiable bread to None
twitter_archive_clean.loc[twitter_archive_clean['breed'] == 'Unidentifiable', 'breed'] = None

## Test

In [91]:
twitter_archive_clean.dtypes

tweet_id                   object
timestamp          datetime64[ns]
source                   category
text                       object
expanded_urls              object
name                       object
doggo                      object
floofer                    object
pupper                     object
puppo                      object
favorites                   int64
retweets                    int64
user_followers              int64
user_favourites             int64
jpg_url                    object
img_num                     int64
p1                         object
p2                         object
p3                         object
stage                      object
breed                      object
confidence                float64
rating                     object
dog_gender               category
dtype: object

<a id='store'></a>
# **Store** #

In [92]:
# Save clean DataFrame to csv file
twitter_archive_clean.drop(twitter_archive_clean.columns[twitter_archive_clean.columns.str.contains('Unnamed',case = False)],axis = 1)
twitter_archive_clean.to_csv('twitter_df.csv', encoding = 'utf-8', index=False)